@use "function" as f;

.brand {
  margin-bottom: f.rem(120);

  &__personal {
    display: flex;

    &-text {
      background: #c7e1ff;

      width: 50%;
      padding: f.rem(80);

      .title_block {
        margin-bottom: f.rem(55);
      }
    }

    &-accordion {
      display: flex;
      flex-direction: column;
      row-gap: f.rem(20);

      .accordion {
        &-item {
          transition: all 0.3s;
          padding-bottom: f.rem(20);

          &:not(:last-child) {
            border-bottom: 1px solid #9a9a9a80;
          }

          &.current {
            .title {
              svg {
                transform: rotate(0deg);
              }
            }

            .text {
              height: auto;
              visibility: visible;
              opacity: 1;
              padding-top: f.rem(12);
            }
          }

          .title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: f.rem(24);
            font-weight: 600;
            color: #000;
            cursor: pointer;
            line-height: 1.6;

            svg {
              width: f.rem(24);
              height: f.rem(24);
              transform: rotate(-90deg);
              transition: all 0.3s;
            }
          }

          .text {
            padding-top: 0;
            font-size: f.rem(16);
            font-weight: 500;
            color: #344054;
            line-height: 1.6;
            height: 0;
            visibility: hidden;
            opacity: 0;
            transition: all 0.3s;
          }
        }
      }
    }

    &-thumb {
      position: relative;
      width: 50%;
      aspect-ratio: 1/1;

      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
      }
    }
  }

  &__certi {
    display: flex;

    &-text {
      background: #c7e1ff;
      width: 50%;
      padding: f.rem(80);
      position: relative;

      .title_block {
        margin-bottom: f.rem(55);

        p {
          margin-top: f.rem(24);
          margin-bottom: f.rem(32);
          color: #344054;
          font-size: f.rem(16);
          line-height: 1.6;
          font-weight: 400;
        }
      }

      .link-but {
        background-color: #fff;
        color: #055ca5;
        border: 1px solid #1018280d;
      }
    }

    &-marque {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      overflow: hidden;
      white-space: nowrap;

      &--inner {
        display: flex;
        animation: scroll 5s linear infinite;
        width: max-content;
      }

      .patter-thumb {
        width: f.rem(300);
        height: f.rem(150);
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: f.rem(208);
          height: auto;
        }
      }
    }

    &-thumb {
      position: relative;
      width: 50%;
      aspect-ratio: 1/1;

      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
      }
    }
  }
  .section-partner {
    position: absolute;
    left: 0;
    bottom: f.rem(20);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1024px) and (max-width: 1200px) {}

@media screen and (max-width: 1023px) {
  .brand {
    margin-bottom: f.rem(60);

    &__personal {
      flex-direction: column;

      &-text {
        width: 100%;
        padding: f.rem(60) f.rem(16);

        .title_block {
          margin-bottom: f.rem(30);
        }
      }

      &-accordion {
        row-gap: f.rem(16);

        .accordion {
          &-item {
            padding-bottom: f.rem(16);

            &.current {
              .title {
                svg {
                  transform: rotate(0deg);
                }
              }

              .text {
                padding-top: f.rem(12);
              }
            }

            .title {
              font-size: f.rem(16);

              svg {
                width: f.rem(20);
                height: f.rem(20);
              }
            }

            .text {
              font-size: f.rem(14);
            }
          }
        }
      }

      &-thumb {
        width: 100%;
      }
    }

    &__certi {
      flex-direction: column-reverse;

      &-text {
        width: 100%;
        padding: f.rem(60) f.rem(16);

        .title_block {
          margin-bottom: f.rem(78);

          p {
            margin-top: f.rem(24);
            margin-bottom: f.rem(42);
            font-size: f.rem(14);
          }
        }
      }

      &-marque {
        .patter-thumb {
          width: f.rem(156);
          height: f.rem(78);

          img {
            width: f.rem(108);
            height: auto;
          }
        }
      }

      &-thumb {
        width: 100%;
      }
    }
    .section-partner {
      bottom: f.rem(0);
    }
  }
}