@use "function" as f;

.section-countdown {
  width: 100%;
  margin-bottom: f.rem(40);

  .countdown-card {
    position: relative;
    width: 100%;
    aspect-ratio: 1440 / 580;
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    padding: 0 f.rem(80);
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .countdown-content {
    max-width: f.rem(620);
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 2;
  }

  .countdown-title {
    color: var(--global-color);
    font-size: f.rem(64);
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: f.rem(16);
  }

  .countdown-desc {
    color: #000;
    font-size: f.rem(20);
    line-height: 1.4;
    margin-bottom: f.rem(32);
    font-weight: 500;
    text-align: justify;
  }

  .countdown {
    display: flex;
    align-items: center;
    gap: f.rem(16);

    &-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .value {
        color: var(--global-color);
        font-size: f.rem(38);
        font-weight: 700;
        line-height: 1;
      }

      .unit {
        color: #000;
        font-size: f.rem(20);
        font-weight: 400;
        margin-top: f.rem(6);
        text-transform: lowercase;
      }
    }

    &-separator {
      color: #000;
      font-size: f.rem(20);
      font-weight: 500;
      line-height: 1;
      margin-bottom: f.rem(20);
    }
  }
}

@media screen and (max-width: 1023px) {
  .section-countdown {
    .countdown-card {
      padding: f.rem(60) f.rem(20);
      aspect-ratio: 375 / 375;
      background-position: center center;
    }

    .countdown-content {
      max-width: 100%;
    }

    .countdown-title {
      font-size: f.rem(32);
    }

    .countdown-desc {
      font-size: f.rem(14);
      margin-bottom: f.rem(24);
    }

    .countdown {
      gap: f.rem(12);

      &-item {
        .value {
          font-size: f.rem(32);
        }

        .unit {
          font-size: f.rem(12);
        }
      }

      &-separator {
        font-size: f.rem(20);
        margin-bottom: f.rem(16);
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .section-countdown {
    .countdown-title {
      font-size: f.rem(28);
    }
  }
}
