@use "function" as f;

.info {
  width: 100%;
  padding: f.rem(60) f.rem(40);
  &_wrap {
    position: relative;
  }

  &_head {
    text-align: center;
    margin-bottom: f.rem(52);
    .title {
      font-size: f.rem(30);
      line-height: 38/30;
      font-weight: 600;
      color: #000;
      margin-bottom: f.rem(52);
      text-transform: uppercase;
    }
    .text {
      max-width: f.rem(902);
      font-size: f.rem(24);
      line-height: 1.6;
      font-weight: 400;
      color: #101828;
      margin: 0 auto;
    }
  }
  &_content {
    background-color: #f2f2f2;
    display: flex;
    gap: f.rem(263);
    justify-content: space-between;
    padding: f.rem(58) f.rem(50) f.rem(58) f.rem(160);
    &-thumb {
      width: 32.406602954%;
      img {
        width: 100%;
        height: auto;
      }
    }
    &-tech {
      .title {
        font-size: f.rem(20);
        line-height: 1;
        font-weight: 600;
        color: #000;
        margin-bottom: f.rem(24);
        text-transform: uppercase;
      }
      table {
        border-collapse: inherit;
        width: 100%;
        tr {
          &:not(:last-child) {
            td {
              border-bottom: 0;
            }
          }
          td {
            &.bg-white {
              background-color: #fff;
            }
            font-weight: 500;
            font-size: f.rem(14);
            line-height: 1.6;
            letter-spacing: 0px;
            vertical-align: middle;
            border: 1px solid #d0d5dd;
            padding: f.rem(10) f.rem(16);
            &.rtl {
              border-top-left-radius: f.rem(8);
            }
            &.rtr {
              border-top-right-radius: f.rem(8);
            }
            &.rbl {
              border-bottom-left-radius: f.rem(8);
            }
            &.rbr {
              border-bottom-right-radius: f.rem(8);
            }
            &:not(:last-child) {
              border-right: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
}

@media screen and (max-width: 1023px) {
  .info {
    padding: f.rem(20) f.rem(16);

    &_head {
      text-align: center;
      margin-bottom: f.rem(32);
      .title {
        font-size: f.rem(20);
        margin-bottom: f.rem(30);
      }
      .text {
        max-width: 100%;
        font-size: f.rem(16);
      }
    }
    &_content {
      flex-direction: column;
      gap: f.rem(40);
      padding: f.rem(24) f.rem(16);
      &-thumb {
        width: 100%;
        padding-right: f.rem(17);
        img {
          width: 100%;
          height: auto;
        }
      }
      &-tech {
        .title {
          font-size: f.rem(16);
          margin-bottom: f.rem(16);
        }
        table {
          border-collapse: inherit;
          tr {
            &:not(:last-child) {
              td {
                border-bottom: 0;
              }
            }
            td {
              padding: f.rem(12) f.rem(16);
            }
          }
        }
      }
    }
  }
}
