@use "function" as f;

.home-why {
    background-color: #ffffff;
    padding: f.rem(100) 0;
    overflow: hidden;

    &_wrap {
        position: relative;
        width: 100%;
        padding: 0 f.rem(138);
    }

    &_slide-inner {
        width: 100%;
        display: flex;
        gap: f.rem(138);
        align-items: center;
    }

    &_image-col {
        flex: 0 0 f.rem(572);
        max-width: f.rem(572);
        line-height: 0;

        img {
            width: 100%;
            height: auto;
        }
    }

    &_content-col {
        flex: 1;
    }

    &_title {
        font-size: f.rem(44);
        margin-bottom: f.rem(32);
    }

    &_desc {
        font-size: f.rem(20);
    }


    .swiper-pagination {
        position: absolute;
        left: f.rem(20);
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        gap: f.rem(12);
        width: auto;
        bottom: auto;
        z-index: 10;

        .swiper-pagination-bullet {
            width: f.rem(8);
            height: f.rem(8);
            background: #d0d5dd;
            opacity: 1;
            margin: 0 !important;
            transition: all 0.3s ease;
            border-radius: 50%;
            cursor: pointer;

            &-active {
                background: var(--global-color);
                transform: scale(1.25);
            }
        }
    }
}

// Responsive Styles
@media screen and (max-width: 1023px) {
    .home-why {
        padding: f.rem(70) 0;

        &_wrap {
            padding: 0 f.rem(30);
        }

        &_slide-inner {
            flex-wrap: wrap;
            padding: 0;
            gap: f.rem(40);
        }

        &_image-col,
        &_content-col {
            flex: 0 0 100%;
            max-width: 100%;
        }

        &_title {
            font-size: f.rem(28);
            margin-bottom: f.rem(16);
        }

        &_desc {
            font-size: f.rem(16);
        }

        .swiper-pagination {
            top: 20%;
            left: f.rem(15);
        }
    }
}