@use "function" as f;

.products {
  background: #ffffff;
  padding: f.rem(100) 0;

  &.product-related {
    padding-top: f.rem(40);
  }

  &.by-inventory,
  &.by-price {
    padding: 0;
    margin-bottom: f.rem(120);
  }

  .title_block {
    padding: 0 f.rem(20);
    text-transform: uppercase;
  }

  &_wrap {
    .title_block {
      margin-bottom: f.rem(32);
    }
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: f.rem(20);
    padding: 0 f.rem(20);
  }
}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1024px) and (max-width: 1200px) {}

@media screen and (max-width: 1023px) {
  .products {
    padding: f.rem(66) 0;

    .title_block {
      padding: 0 f.rem(12);
      margin-bottom: f.rem(20);
    }

    &-list {
      padding: 0 f.rem(12);
    }

    &-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: f.rem(24) f.rem(8);
      padding: 0 f.rem(12);
    }

  }
}