@use "function" as f;

.home-collection {
  padding: f.rem(100) 0;
  width: 100%;

  &_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: f.rem(20);
    width: 100%;
    align-items: stretch;
    padding: 0 f.rem(20);
  }
  .category {
    &-item {
      height: 100%;
    }
    &-img {
      height: 100%;
      aspect-ratio: auto;
    }
    &-txt {
      text-align: left;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h3 {
        font-size: f.rem(44);
      }
    }
  }

  &_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: f.rem(40) f.rem(20);
  }
}

@media screen and (max-width: 1023px) {
  .home-collection {
    padding: f.rem(70) f.rem(12);

    .category {
      &-item {
        height: auto;
      }
      &-img {
        aspect-ratio: 690/844;
        height: auto;
      }
      &-txt {
        h3 {
          font-size: f.rem(24);
        }
      }
    }

    &_wrap {
      grid-template-columns: 1fr;
      gap: f.rem(30);
      padding: 0;
    }

    &_grid {
      padding: 0 !important;
      gap: f.rem(24) f.rem(8);
    }
  }
}
