@use "function" as f;

.lookbook {

  &_wrap {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  &_product {
    position: absolute;
    left: 0;
    top: 0;
    flex: 0 0 27.847222222%;
    max-width: 27.847222222%;
    height: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    .title {
      display: flex;
      font-size: f.rem(16);
      font-weight: 500;
      gap: f.rem(12);
      height: f.rem(64);
      align-items: center;
      padding: 0 f.rem(25);

      svg {
        flex: 0 0 f.rem(24);
        max-width: f.rem(24);
        height: f.rem(24);
      }
    }

    .content {
      flex-grow: 1;
      overflow: hidden;
      overflow-y: auto;
      scrollbar-width: none;
      scrollbar-color: #7d7d7d #fff;
    }

    .product {
      border-top: 1px solid #EAECF0;
      flex-direction: row;
      padding: f.rem(16);
      background-color: #fff;
      -webkit-transition: background-color 0.3s ease-in-out;
      transition: background-color 0.3s ease-in-out;

      &:hover,
      &.current {
        background-color: #F2F4F7;
      }

      &-img {
        flex: 0 0 f.rem(112);
        max-width: f.rem(112);
        height: f.rem(112);
        padding: f.rem(9);
        background-color: #fff;
        margin: 0;

        img {
          width: auto;
          height: auto;
          max-width: 100%;
          max-height: 100%;
        }
      }

      &-txt {
        flex: 0 0 calc(100% - f.rem(112));
        max-width: calc(100% - f.rem(112));
        padding-left: f.rem(16);

        .tag {
          position: static;

          &-item {
            font-size: f.rem(10);
            padding: 0 f.rem(6);
            gap: f.rem(2);

            svg {
              width: f.rem(8);
              height: f.rem(10);
            }
          }

        }

        .model {
          font-size: f.rem(12);
          margin: 0;
        }

        .name,
        .price {
          font-size: f.rem(14);
          margin: 0 0 f.rem(6) 0;
        }

        .price {
          gap: f.rem(6);
        }

        .meta {
          display: flex;
          justify-content: space-between;
          align-items: center;

          &-but {
            width: f.rem(32);
            height: f.rem(32);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #C0C0C0;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            cursor: pointer;

            svg {
              width: f.rem(16);
              height: f.rem(16);
            }
          }

          .link-but {
            font-size: f.rem(14);
          }
        }
      }

    }

  }

  &_experience {
    position: relative;
    flex: 0 0 72.1527777778%;
    max-width: 72.1527777778%;
    margin-left: auto;

    .look_banner--item {
      aspect-ratio: 1039/676;

      img {
        width: 100%;
        height: 100%;
        -webkit-object-fit: cover;
        object-fit: cover;
      }
    }
  }

  &_introduce {
    width: 100%;
    max-width: f.rem(902);
    margin: 0 auto;
    padding: f.rem(120) 0;
    font-size: f.rem(20);
    line-height: 1.5;

    h2 {
      font-size: f.rem(30);
      font-weight: 600;
    }

    * {
      &:not(:last-child) {
        margin-bottom: f.rem(20);
      }
    }
  }

  &-related {
    background-color: #F2F2F2;
    padding: f.rem(70) f.rem(40) f.rem(120) f.rem(40);


    .new-txt {
      padding-top: f.rem(25);

      h3 {
        text-align: center;
        margin-bottom: 0;
      }
    }

  }

}

.loolbook-other {
  position: absolute;
  left: f.rem(20);
  top: f.rem(60);
  width: f.rem(400);
  background-color: #fff;
  -webkit-border-radius: f.rem(12);
  border-radius: f.rem(12);
  overflow: hidden;
  z-index: 10;
  display: flex;
  flex-direction: column;

  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;

  &.show {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
  }

  .other-header {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: f.rem(16);
    gap: f.rem(8);
    width: f.rem(4);
    height: f.rem(8);
    height: f.rem(64);
    padding: 0 f.rem(16);
    cursor: pointer;
    width: 100%;

  }

  .other-back {
    width: f.rem(24);
    height: f.rem(24);
    display: inline-flex;
    align-items: center;
    justify-content: center;

    svg {
      width: f.rem(8);
      height: f.rem(16);
    }
  }

  .product {
    border-top: 1px solid #EAECF0;
    flex-direction: row;
    padding: f.rem(16);
    background-color: #fff;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: #F2F4F7;
    }

    &-img {
      flex: 0 0 f.rem(78);
      max-width: f.rem(78);
      height: f.rem(78);
      padding: f.rem(9);
      background-color: #fff;
      margin: 0;

      img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
      }
    }

    &-txt {
      flex: 0 0 calc(100% - f.rem(78));
      max-width: calc(100% - f.rem(78));
      padding-left: f.rem(16);
      flex-direction: row;

      .model {
        font-size: f.rem(12);
        margin: 0;
      }

      .name,
      .price {
        font-size: f.rem(14);
        margin: 0 0 f.rem(6) 0;
      }

      .price {
        gap: f.rem(6);
      }

      .info {
        flex-grow: 1;
        padding-right: f.rem(16);
      }

      .meta {
        flex: 0 0 f.rem(40);
        max-width: f.rem(40);

        &-but {
          width: f.rem(32);
          height: f.rem(32);
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #C0C0C0;
          -webkit-border-radius: 50%;
          border-radius: 50%;

          svg {
            width: f.rem(16);
            height: f.rem(16);
          }
        }
      }
    }

  }

}

.experience {
  &-list {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    padding-bottom: f.rem(20);
  }

  &-item {
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    width: f.rem(344);
    height: auto;
    padding: f.rem(10);
    -webkit-border-radius: f.rem(8);
    border-radius: f.rem(8);

    .nav-next,
    .nav-prev {
      border: none;
      flex: 0 0 f.rem(40);
      max-width: f.rem(40);
      height: f.rem(40);
    }

  }

  &-name,
  &-amount {
    text-align: center;
  }

  &-name {
    font-size: f.rem(16);
    font-weight: 600;
  }

  &-amount {
    font-size: f.rem(14);
  }


}

.lookbook-port {
  display: none;
}

@media screen and (max-width: 1023px) {
  .lookbook {
    &_introduce {
      padding: f.rem(60) f.rem(16);
    }

    &-related {
      padding: f.rem(60) f.rem(16);
    }
  }
}

@media (orientation: landscape) and (max-width:1023px) {

  .lookbook {
    &_wrap {
      width: 100%;
      height: auto;
      overflow: hidden;
    }

    &_viewmore {
      position: absolute;
      width: 56px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #fff;
      cursor: pointer;

      .title {
        width: 56px;
        height: 56px;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #D9D9D9;

        svg {
          width: 20px;
          height: 20px;
        }
      }

      border-right: 1px solid #D9D9D9;
      border-top: 1px solid #D9D9D9;

      z-index: 11;

      span {
        position: absolute;
        left: 0;
        transform: rotate(-90deg);
        white-space: nowrap;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 12px;
        gap: 4px;

        &.view {
          left: -20px;
        }

        &.close {
          left: 0;
          opacity: 0;

          svg {
            -webkit-transform: scale(-1);
            transform: scale(-1);
          }
        }

        svg {
          display: block;
          width: 12px;
          height: 6px;
        }
      }

      &.show {
        span {
          &.view {
            opacity: 0;
          }

          &.close {
            opacity: 1;
          }
        }
      }
    }

    .look_pot--item {
      width: 24px;
      height: 24px;
    }

    &_product {
      z-index: 10;
      width: 400px;
      max-width: 400px;
      left: 56px;

      .title {
        display: none;
      }

      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      -webkit-transition: transform 0.3s ease-in-out;
      transition: transform 0.3s ease-in-out;

      &.show {
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }

      .content {
        .product {
          padding: 10px;

          &-img {
            flex: 0 0 86px;
            max-width: 86px;
            height: 86px;
            padding: 5px;
          }

          &-txt {
            flex: 0 0 calc(100% - 86px);
            max-width: calc(100% - 86px);
            padding-left: 15px;

            .model {
              font-size: 12px;
            }

            .price,
            .name {
              font-size: 14px;
            }

            .tag-item {
              font-size: 10px;
            }

            .meta {
              .link-but {
                font-size: 14px;
              }

              &-but {
                width: 32px;
                height: 32px;

                svg {
                  width: 12px;
                  height: 12px;
                }
              }
            }
          }

        }
      }
    }

    &_experience {
      flex: 0 0 calc(100% - 56px);
      max-width: calc(100% - 56px);

      .look_banner--item {
        aspect-ratio: 756/375;
      }
    }
  }

  .experience {
    &-list {
      padding-bottom: 7px;
      padding-right: 5px;
    }

    &-item {
      margin-left: auto;
      width: 185px;
      height: auto;
      padding: 0 10px;
      height: 40px;
      align-items: center;
      margin: 0;
      margin-left: auto;

      .nav-next,
      .nav-prev {
        border: none;
        flex: 0 0 24px;
        max-width: 24px;
        height: 24px;
      }

    }

    &-name,
    &-amount {
      text-align: center;
    }

    &-name {
      font-size: 12px;
    }

    &-amount {
      display: none;
    }


  }

  .loolbook-other {
    left: 0;
    top: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    height: 100%;
    overflow: hidden;

    .other-header {
      min-height: 56px;
    }

    .other-product {
      flex-grow: 1;
      overflow: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }

    .product {
      
      &-img {
        flex: 0 0 86px;
        max-width: 86px;
        height: 86px;
        padding: 5px;
      }

      &-txt {
        flex: 0 0 calc(100% - 86px);
        max-width: calc(100% - 86px);
        padding-left: 15px;
        padding-top: 10px;

        .model {
          font-size: 12px;
        }

        .price,
        .name {
          font-size: 14px;
        }

        .tag-item {
          font-size: 10px;
        }

        .meta {
          .link-but {
            font-size: 14px;
          }

          &-but {
            width: 32px;
            height: 32px;
            cursor: pointer;

            svg {
              width: 12px;
              height: 12px;
            }
          }
        }
      }

    }
  }

}

@media (orientation: portrait) and (max-width:1023px) {
  .lookbook_wrap {
    display: none;
  }

  .lookbook-port {
    position: relative;
    display: block;
    width: 100%;
    height: auto;

    .port-img {
      display: block;
      width: 100%;
      height: auto;
      line-height: 0;

      img {
        width: 100%;
        height: auto;
      }
    }

    .port-txt {
      position: absolute;
      width: 100%;
      height: auto;
      left: 0;
      bottom: f.rem(150);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 f.rem(47);


      p {
        text-align: center;
        font-size: f.rem(14);
        line-height: 1.428571429;
      }
    }

    .port-icon {
      width: f.rem(48);
      height: auto;
      line-height: 0;
      margin-bottom: f.rem(30);

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}