@use "function" as f;

.new-detail {
    display: flex;
    padding: 0 f.rem(40);
    margin-bottom: f.rem(110);
    overflow: initial;

    .content {
        flex: 0 0 calc(100% - 456px);
        max-width: calc(100% - 456px);
        padding-right: f.rem(40);
        padding-top: f.rem(60);
        border-right: 1px solid #D0D5DD;
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: f.rem(20);
        margin-bottom: f.rem(40);

        .cate {
            font-size: f.rem(14);
            background-color: #EAECF0;
            display: inline-flex;
            padding: 0 f.rem(14);
            height: f.rem(36);
            width: auto;
            align-items: center;
            -webkit-border-radius: 4px;
            border-radius: 4px;
        }

        h1 {
            color: var(--global-color);
            font-size: f.rem(36);
        }

        .time {
            color: #475467;
            font-size: f.rem(14);
            display: flex;
            gap: f.rem(29);

            span {
                position: relative;

                &:not(:last-child) {
                    &::after {
                        content: '';
                        position: absolute;
                        width: 1px;
                        height: 60%;
                        background-color: #98A2B3;
                        display: block;
                        top: 20%;
                        right: f.rem(-14);
                    }
                }
            }
        }

        .relation {
            flex: 0 0 456px;
            max-width: 456px;
        }
    }

    .detail {
        font-size: f.rem(16);
        color: #101828;
        line-height: 1.5;

        a {
            text-decoration: underline;
            color: inherit;
        }

        strong {
            font-weight: 600;
        }

        >* {
            margin-bottom: f.rem(20);
        }

        h2,
        h3,
        h4,
        h5,
        h6 {
            font-size: f.rem(20);
        }

        ul {
            list-style: disc;
            margin-left: f.rem(18);
        }

        img {
            display: block;
            width: 100%;
            height: auto;

            +span {
                display: block;
                text-align: center;
                font-size: f.rem(14);
                margin: f.rem(20) 0;
            }
        }
    }

    .share {
        display: flex;
        align-items: center;
        gap: f.rem(28);

        &-title {
            display: flex;
            font-size: f.rem(16);
            color: var(--global-color);
            font-weight: 500;
            gap: f.rem(10);
            text-decoration: underline;
            display: inline-flex;
            align-items: center;
            cursor: pointer;

            svg {
                width: f.rem(20);
                height: f.rem(20);
            }
        }

        &-list {
            display: flex;
            align-items: center;
            gap: f.rem(12);

            a {
                display: inline-flex;
                width: f.rem(30);
                height: auto;
                line-height: 0;
                cursor: pointer;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    .relation {
        padding-top: f.rem(60);
        padding-left: f.rem(40);

        &-title {
            font-size: f.rem(20);
            font-weight: 600;
            line-height: 1.5;
            margin-bottom: f.rem(14);
        }

        .new {
            border-bottom: 1px solid #D0D5DD;
            padding-bottom: f.rem(30);
            margin-bottom: f.rem(30);

            &-txt {
                h3 {
                    font-size: f.rem(16);
                    font-weight: 600;
                    line-height: 1.5;
                    margin-bottom: f.rem(10);
                }
            }

            &-meta {
                font-size: f.rem(14);
                color: #475467;
            }
        }

        &.recruiment-type {
            .new {
                position: relative;
                width: 100%;
                border: 1px solid #D0D5DD;
                border-radius: f.rem(8);
                padding: f.rem(24);
                margin-bottom: f.rem(12);

                h3 {
                    font-size: f.rem(16);
                    font-weight: 600;
                    margin-bottom: f.rem(8);
                }

                .salary {
                    display: block;
                    font-size: f.rem(14);
                    font-weight: 600;
                    color: #F58720;
                    margin-bottom: f.rem(8);
                }

                &-meta {
                    margin-bottom: f.rem(8);
                    font-size: f.rem(14);

                    strong {
                        font-weight: 600;
                    }
                }

                .link-but {
                    font-size: f.rem(14);
                }
            }
        }
    }

    &.support {
        .info {
            align-items: flex-start;
        }
    }

    .link-list {
        li {
            &:not(:last-child) {
                border-bottom: 1px solid #D0D5DD;
            }
        }

        a {
            display: block;
            color: #000000;
            font-size: f.rem(16);
            padding: f.rem(16) 0;
            text-decoration: none;
        }
    }
}

.apply-box {
    margin-top: f.rem(48);
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: f.rem(46);
    -webkit-border-radius: f.rem(8);
    border-radius: f.rem(8);

    .company {
        flex: 0 0 f.rem(287);
        max-width: f.rem(287);

        .mini-logo {
            width: f.rem(156);
            line-height: 0;
            margin-bottom: f.rem(30);

            img {
                width: 100%;
                height: auto;
            }
        }

        .name {
            font-size: f.rem(20);
            font-weight: 600;
            line-height: 1.5;
            margin-bottom: f.rem(30);
        }

        .address {
            font-size: f.rem(14);

            li {
                display: flex;
                margin-bottom: f.rem(14);
                gap: f.rem(14);

                .icon {
                    display: block;
                    flex: 0 0 f.rem(20);
                    max-width: f.rem(20);
                    height: f.rem(20);

                    svg {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

        }

    }

    .form {
        flex: 0 0 f.rem(447);
        max-width: f.rem(447);

        h3 {
            font-size: f.rem(20);
            margin-bottom: f.rem(10);

        }

        p {
            font-size: f.rem(14);
            margin-bottom: f.rem(30);
        }

        &_group {
            margin-bottom: f.rem(20);



        }

        &_field {
            width: 100%;
            height: auto;

            .field_error {
                display: none;
                padding-top: f.rem(4);
                color: #EB5757;
                font-size: f.rem(12);
                font-weight: 400;
            }

            &.show-error {
                .field_error {
                    display: block;
                }
            }
        }

        &_caption {
            display: block;
            font-size: f.rem(14);
            margin-bottom: f.rem(6);
        }

        .input-txt {
            font-size: f.rem(16);
            padding: 0 f.rem(16);
            background-color: #fff;
        }

    }

}

@media screen and (min-width: 1024px) {
    .new-detail {
        .relation {
            position: sticky;
            align-self: flex-start;
            position: sticky;
            position: -webkit-sticky;
            top: f.rem(70);
        }
    }
}

@media screen and (max-width: 1023px) {

    .new-detail {
        display: flex;
        padding: 0;
        margin-bottom: f.rem(60);
        flex-wrap: wrap;

        .content,
        .relation {
            flex: 0 0 100%;
            max-width: 100%;
            border: none;
            padding: 0;
        }

        .content {
            padding: f.rem(24) f.rem(16);
        }

        .info {
            padding: 0;

            .cate {
                font-size: f.rem(14);

            }

            h1 {
                font-size: f.rem(30);
            }

            .time {
                font-size: f.rem(14);
            }
        }

        .detail {
            font-size: f.rem(16);
        }

        .relation {
            padding: f.rem(24) f.rem(16);
            border-top: 1px solid #D0D5DD;

            &.recruiment-type {
                padding-top: f.rem(35);
            }
        }

        &.recruiment-type {
            .content {
                padding-bottom: 0;
            }
        }
    }


    .apply-box {
        position: relative;
        width: calc(100% + f.rem(32));
        left: f.rem(-16);
        padding: f.rem(30) f.rem(16) f.rem(16) f.rem(16);

        .form {
            flex: 0 0 100%;
            max-width: 100%;
        }

        .company {}

        .form {}

    }


}