@use "function" as f;

.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: all 0s ease-in-out;
    transition-delay: 0s;
    padding: .5em 2.5rem 0;
    overflow: hidden;

    &.open {
        opacity: 1;
        visibility: visible;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        -webkit-transition-delay: .25s;
        transition-delay: .25s;
    }

    &-inr {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    &-close {
        position: absolute;
        right: f.rem(20);
        top: f.rem(20);
        width: f.rem(48);
        height: f.rem(48);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        line-height: 0;
        border: 1px solid #D7D7D7;
        box-shadow: 0px 4px 14px 0px #BFBFBF3D;
        -webkit-border-radius: f.rem(4);
        border-radius: f.rem(4);
        cursor: pointer;

        img {
            width: f.rem(24);
            height: a;
        }
    }
}

.popup-mess {
    position: relative;
    width: 90%;
    max-width: f.rem(500);
    background-color: #fff;
    -webkit-border-radius: f.rem(8);
    border-radius: f.rem(8);
    padding: f.rem(45);
}

.mess-icon {
    width: f.rem(58);
    height: auto;
    line-height: 0;
    margin: 0 auto f.rem(20) auto;

    img {
        width: 100%;
        height: auto;
    }
}

.mess-title {
    font-size: f.rem(24);
    font-weight: 600;
    text-align: center;
    margin-bottom: f.rem(20);
}

.mess-content {
    font-size: f.rem(16);
    font-weight: 400;
    text-align: center;
}

.compare {

    &-pop {
        background-color: #fff;
        width: 90%;
        max-width: f.rem(1206);
        -webkit-border-radius: f.rem(8);
        border-radius: f.rem(8);
        padding: f.rem(30);
        max-height: 90vh;
        display: flex;
        flex-direction: column;

        .product {
            padding: 0;

            &-img {
                border-bottom: 1px solid #D0D5DD;
                margin-bottom: f.rem(20);
                width: 100%;
            }

            &-close {
                position: absolute;
                right: 0;
                top: 0;
                width: f.rem(20);
                height: f.rem(20);
                display: inline-flex;
                align-items: center;
                justify-content: center;

                svg {
                    width: f.rem(14);
                    height: f.rem(14);
                }
            }

            &-txt {
                .model {
                    margin-top: 0;
                }

                .name {
                    margin-top: f.rem(6);
                    margin-bottom: f.rem(25);
                }
            }

            &-cart {
                .link-but {
                    width: 100%;
                    justify-content: center;

                    svg {
                        width: f.rem(18);
                        height: f.rem(18);
                    }
                }
            }
        }

        .price {
            display: flex;
            font-size: f.rem(16);
            gap: f.rem(10);

            &-main {
                color: var(--global-color);
                font-weight: 600;
            }

            &-sale {
                color: #667085;
                font-weight: 400;
                text-decoration: line-through;
            }

            &-tag {
                display: inline-flex;
                align-items: center;
                color: #fff;
                font-size: f.rem(12);
                background-color: #FF0000;
                -webkit-border-radius: 2px;
                border-radius: 2px;
                padding: f.rem(2) f.rem(10);

                svg {
                    width: f.rem(10);
                    height: f.rem(13);
                }
            }
        }

        .size,
        .material,
        .cate {
            font-size: f.rem(16);
            font-weight: 400;
            color: #101828;
        }

        .color {
            display: inline-flex;
            font-size: f.rem(16);
            align-items: center;
            justify-content: center;
            gap: f.rem(10);

            &-circle {
                width: f.rem(18);
                height: f.rem(18);
                border: 1px solid #000;
                -webkit-border-radius: 50%;
                border-radius: 50%;
                background-color: var(--color);
            }
        }
    }

    &-title {
        height: f.rem(48);
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: f.rem(24);
        font-weight: 600;

        .popup-close {
            position: static;
        }
    }

    &-content {
        flex-grow: 1;
        overflow: hidden;
        overflow-y: auto;
        scrollbar-width: none;
        scrollbar-color: #7d7d7d #fff
    }

    &-row {
        display: flex;
        padding: f.rem(30) 0;

        &:not(:last-child) {
            border-bottom: 1px solid #E4E4E4;
        }
    }

    &-name {
        background-color: #C7E1FF;
        flex: 0 0 f.rem(132);
        max-width: f.rem(132);
        font-size: f.rem(16);
        font-weight: 600;
        color: #000;
        text-align: center;
        padding: f.rem(25) 0;
    }

    &-data {
        flex: 0 0 calc(100% - f.rem(132));
        max-width: calc(100% - f.rem(132));
        display: grid;
        padding-left: f.rem(40);
        gap: f.rem(40);
        grid-template-columns: repeat(3, 1fr);
    }

    &-col {
        display: inline-flex;
        align-items: center;
    }

}

.popup-cart {
    position: relative;
    width: 90%;
    max-width: f.rem(826);
    padding: f.rem(40);
    background-color: #fff;
    -webkit-border-radius: f.rem(8);
    border-radius: f.rem(8);

    .popup-close {
        z-index: 1;
    }

    .product {
        flex-direction: row;
        padding: 0;

        .tag {
            position: static;
        }

        &-img {
            flex: 0 0 f.rem(310);
            max-width: f.rem(310);
            height: auto;
            margin: 0;

            img {
                width: 100%;
                height: auto;
            }
        }

        &-txt {
            display: block;
            flex: 0 0 calc(100% - f.rem(310));
            max-width: calc(100% - f.rem(310));
            padding-left: f.rem(40);

            .cart_action {
                width: 100%;
                max-width: 100%;
                flex-direction: row;
            }

            .model {
                margin: 0 0 f.rem(12) 0;


            }

            .name {
                margin: 0 0 f.rem(16) 0;
                font-size: f.rem(20);
            }

            .price {
                margin: 0 0 f.rem(20) 0;
                padding-bottom: f.rem(20);
                border-bottom: 1px solid #D0D5DD;
                font-size: f.rem(16);
            }

            .color {
                margin: 0 0 f.rem(6) 0;
            }

            .color {
                &-list {
                    display: flex;
                    gap: f.rem(8);
                    padding-bottom: f.rem(20);
                }

                &-item {
                    position: relative;
                    flex: 0 0 f.rem(60);
                    max-width: f.rem(60);
                    height: f.rem(60);
                    padding: 3px;
                    background-color: #F0F0F0;
                    line-height: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        border: 2px solid var(--global-color);
                        opacity: 0;
                        -webkit-transition: opacity 0.3s ease-in-out;
                        transition: opacity 0.3s ease-in-out;
                    }

                    img {
                        width: auto;
                        height: auto;
                        max-width: 100%;
                        max-height: 100%;
                    }

                    &.current,
                    &:hover {
                        &::before {
                            opacity: 1;
                        }
                    }
                }

            }
        }

        .cart_action {
            gap: f.rem(8);

            .link-but,
            .cart_control {
                height: f.rem(44);
            }

            .cart_add {
                flex-grow: 1;

                .link-but {
                    width: 100%;
                    justify-content: center;

                    svg {
                        width: f.rem(20);
                        height: f.rem(20);
                    }
                }
            }


            .cart_control {
                flex: 0 0 f.rem(116);
                max-width: f.rem(116);
            }
        }



    }
}

@media screen and (max-width: 1023px) {
    .popup {
        &-close {
            top: f.rem(10);
            right: f.rem(10);
        }

        &#comparePop {
            padding: 0;

            .popup-inr {
                align-items: flex-start;
                background-color: #fff;
            }

        }

        &#addToCartPop {
            padding: 0;

            .popup-inr {
                justify-content: flex-end;
            }

        }

    }

    .popup-mess {
        width: calc(100% - f.rem(32));
        padding: f.rem(30);
    }

    .mess-title {
        font-size: f.rem(20);
    }

    .mess-content {
        font-size: f.rem(14);
    }


    .compare {

        &-pop {
            width: 100%;
            max-width: 100%;
            -webkit-border-radius: 0;
            border-radius: 0;
            padding: 0;
            height: 100%;
            max-height: 100%;
            padding: 0;

            .product {

                &-txt {
                    .model {
                        font-size: f.rem(10);
                    }

                    .name {
                        font-size: f.rem(12);
                    }
                }

                &-cart {
                    .link-but {
                        width: 100%;
                        justify-content: center;
                        font-size: 0;

                        svg {
                            width: f.rem(24);
                            height: f.rem(24);
                        }
                    }
                }
            }

            .price {
                display: block;
                font-size: f.rem(12);

                &-main,
                &-sale {
                    display: block;
                    margin-bottom: f.rem(6);
                }

            }

            .size,
            .material,
            .cate {
                padding: f.rem(35) 0;
                font-size: f.rem(12);
            }

        }

        &-title {
            font-size: f.rem(20);
            padding: 0 f.rem(16);
            height: f.rem(70);
            min-height: f.rem(70);
            border-bottom: 1px solid #D9D9D9;

            .popup-close {
                width: f.rem(24);
                height: f.rem(24);
                border: none;
                box-shadow: none;
            }
        }

        &-content {
            overflow: hidden;
            overflow: auto;
        }

        &-row {
            &:not(:last-child) {
                border: none;
            }

            padding: f.rem(18) 0;
            border: none;
        }

        &-name {
            flex: 0 0 f.rem(34);
            max-width: f.rem(34);
            font-size: f.rem(12);
            font-weight: 600;
            padding: 0;
            position: relative;
            position: sticky;
            position: -webkit-sticky;
            left: 0;
            z-index: 2;

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: #E4E4E4;
                left: 0;
                bottom: f.rem(-18);
            }

            span {
                position: absolute;
                top: 50%;
                left: f.rem(-10);
                white-space: nowrap;
                display: inline-flex;
                width: f.rem(70);
                -webkit-transform: rotate(-90deg) translateY(-50%);
                transform: rotate(-90deg) translateY(-50%);
                justify-content: center;
            }

        }

        &-data {
            display: flex;
            padding: 0;
            gap: 0;
        }

        &-col {
            position: relative;
            flex: 0 0 f.rem(142);
            max-width: f.rem(142);
            margin-left: f.rem(14);
            min-height: f.rem(120);

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: #E4E4E4;
                left: 0;
                bottom: f.rem(-18);
            }
        }

    }


    .popup-cart {
        width: 100%;
        max-width: 480px;
        padding: f.rem(16);

        .product {
            display: block;

            &-img {
                width: 100%;
                max-width: 100%;
                margin-bottom: f.rem(20);
            }

            &-txt {
                display: block;
                width: 100%;
                max-width: 100%;
                padding: 0;


                .price {
                    border: none;
                }

            }
        }
    }



}