@use "function" as f;

.profile {
  padding: f.rem(40) f.rem(40) 0 f.rem(40);
  background-color: #f4f4f4;

  &_content {
    margin-top: f.rem(24);
    border-top: 2px solid #000000;
    display: flex;

    .tab {
      &.profile-tab {
        width: 30.6617647059%;
        min-width: 30.6617647059%;
        padding: f.rem(50) f.rem(40) f.rem(120) 0;
        border-right: 1px solid #d0d5dd;
        border-bottom: none;
        margin-bottom: 0;

        .tab-list {
          flex-direction: column;
          gap: f.rem(28);

          .tab-item {
            display: flex;
            gap: f.rem(12);
            color: #000000;
            font-weight: 500;
            font-size: f.rem(16);
            line-height: 1.5;
            letter-spacing: 0;
            padding: 0;
            -webkit-transition: color 0.3s ease-in-out;
            transition: color 0.3s ease-in-out;

            &:hover,
            &.current {
              color: var(--global-color);
            }

            &::after {
              display: none;
            }

            svg {
              width: f.rem(24);
              height: f.rem(24);
            }


            a {
              color: inherit;
              display: flex;
              gap: f.rem(12);
              text-decoration: none;
              font-weight: inherit;
            }


          }
        }
      }
    }
  }

  &_head {
    font-weight: 600;
    font-size: f.rem(24);
    line-height: 1.3;
    letter-spacing: 0;
    color: #07274a;
    display: flex;
    align-items: center;

    svg {
      width: f.rem(24);
      height: f.rem(24);
      padding: f.rem(5);
      margin-right: f.rem(8);
      cursor: pointer;
    }

    &.sp-bw {
      justify-content: space-between;
    }

    .address-btn {
      height: f.rem(36);
      padding: 0 f.rem(14);
      gap: f.rem(12);
      font-weight: 500;
      font-size: f.rem(14);
      line-height: 1.4;
      letter-spacing: 0;

      svg {
        width: f.rem(14);
        height: f.rem(14);
        padding: 0;
        margin: 0;
      }
    }
  }

  &-detail {
    flex: 1;
    position: relative;
    padding: f.rem(50) 0 f.rem(120) f.rem(40);
    min-height: 560px;

    &--wrap {
      width: 100%;
      height: auto;
      position: relative;
    }

    &--item {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: auto;


      opacity: 0;
      visibility: hidden;
      -webkit-transition: all 0s ease-in-out;
      transition: all 0s ease-in-out;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;


      &.current {
        position: relative;
        left: 0;
        top: 0;
        opacity: 1;
        visibility: visible;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        -webkit-transition-delay: .25s;
        transition-delay: .25s;
      }
    }
  }

  .account {
    position: relative;

    &--item {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: auto;

      opacity: 0;
      -webkit-transition: opacity 0.3s linear;
      transition: opacity 0.3s linear;
      pointer-events: none;

      &.current {
        position: relative;
        left: auto;
        top: auto;
        opacity: 1;
        pointer-events: all;
      }
    }

    &_content {
      margin-top: f.rem(32);
      max-width: f.rem(560);
      padding: f.rem(44);
      border-radius: f.rem(8);
      background-color: #fff;

      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-left {
          display: flex;
          align-items: center;
          font-weight: 500;
          font-size: f.rem(16);
          line-height: 1.5;
          letter-spacing: 0;

          svg {
            width: f.rem(18);
            height: f.rem(20);
            margin-right: f.rem(15);
          }
        }

        .text-edit {
          font-size: f.rem(14);
          cursor: pointer;
        }
      }

      .list {
        margin-top: f.rem(32);

        .item {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          padding: f.rem(20) 0;
          font-weight: 400;
          font-size: f.rem(16);
          line-height: 1.5;
          letter-spacing: 0;
          color: #475467;
          gap: f.rem(8);
          border-top: 1px solid #eaecf0;

          &-label {
            font-weight: 600;
            color: #000000;
          }

          &-value {
            text-align: right;
            max-width: f.rem(293);
          }
        }
      }

      &-btns {
        display: flex;
        gap: f.rem(20);
        margin-top: f.rem(8);
      }
    }
  }

  .address {
    position: relative;

    &--item {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: auto;

      opacity: 0;
      -webkit-transition: opacity 0.3s linear;
      transition: opacity 0.3s linear;
      pointer-events: none;

      &.current {
        position: relative;
        left: auto;
        top: auto;
        opacity: 1;
        pointer-events: all;
      }
    }

    &_content {
      &.content-full {
        margin-top: f.rem(32);
        max-width: 100%;
        padding: 0;
        border-radius: 0;
        background-color: transparent;
      }

      margin-top: f.rem(32);
      max-width: f.rem(560);
      padding: f.rem(44);
      border-radius: f.rem(8);
      background-color: #fff;

      .list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: f.rem(20);

        .item {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: f.rem(24) f.rem(30);
          border-radius: f.rem(8);
          background-color: #fff;

          &-head {
            display: flex;
            flex-direction: column;
            gap: f.rem(6);

            .name {
              font-weight: 500;
              font-size: f.rem(16);
              line-height: 1.5;
              letter-spacing: 0;
              color: #000000;
            }

            .text-edit {
              font-weight: 500;
              font-size: f.rem(14);
              line-height: 1.4;
              letter-spacing: 0;
              cursor: pointer;
            }
          }

          &-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }

          &-tag {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 f.rem(12);
            height: f.rem(26);
            font-weight: 400;
            font-size: f.rem(12);
            line-height: 1.5;
            letter-spacing: 0;
            color: #000000;
            background-color: #b9defe;
            border: 1px solid var(--global-color);
            border-radius: f.rem(100);
            width: fit-content;
          }

          &-txt {
            margin-top: f.rem(32);
            font-weight: 400;
            font-size: f.rem(16);
            line-height: 1.5;
            letter-spacing: 0;
            color: #475467;

            p {
              &:not(:last-child) {
                margin-bottom: f.rem(6);
              }
            }
          }
        }
      }

      &-btns {
        display: flex;
        gap: f.rem(20);
        margin-top: f.rem(8);
      }
    }
  }

  .history {
    position: relative;

    &_content {
      margin-top: f.rem(32);

      .tab {
        margin-bottom: f.rem(32);

        &-list {
          display: flex;
          gap: 0;
        }

        &-item {
          flex: 1;
          padding-top: 0;
          padding-bottom: f.rem(16);
          text-align: center;
          font-weight: 500;
          font-size: f.rem(16);
          line-height: 1.6;
          letter-spacing: 0;
          color: #667085;

          &.current {
            color: #1d2939;
          }
        }
      }

      .list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: f.rem(20);

        .item {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: f.rem(24);
          border-radius: f.rem(8);
          background-color: #fff;

          &-head {
            display: flex;
            justify-content: space-between;
            gap: f.rem(6);
            font-weight: 400;
            font-size: f.rem(12);
            line-height: 1.5;
            letter-spacing: 0;
            color: #475467;

            .status {
              font-weight: 500;
              position: relative;
              padding-left: f.rem(16);

              &.status-delivered {
                color: #27ae60;

                &::before {
                  background-color: #27ae60;
                }
              }

              &.status-delivering {
                color: #f2c94c;

                &::before {
                  background-color: #f2c94c;
                }
              }

              &.status-cancel {
                color: #eb5757;

                &::before {
                  background-color: #eb5757;
                }
              }

              &::before {
                position: absolute;
                content: "";
                width: f.rem(8);
                height: f.rem(8);
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                border-radius: 50%;
              }
            }
          }

          &-content {
            margin-top: f.rem(16);
            padding-top: f.rem(16);
            border-top: 1px solid #eaecf0;
            display: flex;
            gap: f.rem(16);
          }

          &-img {
            width: f.rem(100);
            height: f.rem(100);

            img {
              width: 100%;
              height: auto;
            }
          }

          &-txt {
            display: flex;
            flex-direction: column;
            color: #000000;

            .name {
              font-weight: 500;
              font-size: f.rem(16);
              line-height: 1.5;
              letter-spacing: 0;
            }

            .amount {
              font-weight: 400;
              font-size: f.rem(14);
              line-height: 1.3;
              margin-top: f.rem(4);
            }

            .price {
              flex-grow: 1;
              display: flex;
              align-items: flex-end;
              font-weight: 600;
              font-size: f.rem(14);
              line-height: 1.3;
              letter-spacing: 0;
            }
          }
        }
      }

      &-btns {
        display: flex;
        gap: f.rem(20);
        margin-top: f.rem(8);
      }
    }
  }

  &-btn {
    flex: 1;
    font-weight: 500;
    font-size: f.rem(16);
    line-height: 1.5;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: f.rem(48);
    border-radius: f.rem(4);
    background-color: var(--global-color);
    color: #fff;
    border: 1px solid var(--global-color);

    &.btn-outline {
      background-color: #fff;
      color: #344054;
      border-color: #d0d5dd;

      &.btn-danger {
        color: #eb5757;
        border-color: #eb5757;
      }
    }
  }
}

@media screen and (min-width: 1024px) {}

@media screen and (max-width: 1023px) {
  .profile {
    padding: f.rem(60) f.rem(16) 0 f.rem(16);
    background-color: #f4f4f4;

    .title_block {
      margin-bottom: f.rem(20);
    }


    &_content {
      margin-top: f.rem(12);
      border-top: none;
      flex-direction: column;

      .tab {
        &.profile-tab {
          width: 100%;
          min-width: 100%;
          padding: 0;
          border-right: 0;
          border-bottom: 1px solid #d0d5dd;
          margin-bottom: 0;

          .mobile-scroll {
            width: 100%;
          }

          .tab-list {
            flex-direction: row;
            gap: f.rem(20);

            .tab-item {
              gap: f.rem(8);
              font-weight: 600;
              font-size: f.rem(14);
              padding-bottom: f.rem(16);

              &.current {
                color: var(--global-color);
              }

              &::after {
                display: block;
                background-color: var(--global-color);
              }

              svg {
                width: f.rem(20);
                height: f.rem(20);
              }
            }
          }
        }
      }
    }

    &_head {
      font-size: f.rem(18);
    }

    &-detail {
      width: 100%;
      padding: f.rem(40) 0 f.rem(60) f.rem(0);

      &--item {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;

        opacity: 0;
        -webkit-transition: opacity 0.3s linear;
        transition: opacity 0.3s linear;
        pointer-events: none;

        .current {
          pointer-events: none !important;
        }

        &.current {
          position: relative;
          left: auto;
          top: auto;
          opacity: 1;
          pointer-events: all;

          .current {
            pointer-events: all !important;
          }
        }
      }
    }

    .account {
      &_content {
        margin-top: f.rem(24);
        max-width: 100%;
        padding: f.rem(24) f.rem(16);
        background-color: #fff;

        .title {
          &-left {
            svg {
              margin-right: f.rem(12);
            }
          }
        }

        .list {
          margin-top: f.rem(32);

          .item {
            flex-direction: column;
            padding: f.rem(16) 0;
            font-size: f.rem(14);
            gap: f.rem(6);

            &-value {
              text-align: left;
              max-width: 100%;
            }

            &:last-child {
              padding: 0;
            }
          }
        }
      }
    }

    .address {
      &_content {
        &.content-full {
          margin-top: f.rem(24);
        }

        margin-top: f.rem(24);
        max-width: 100%;
        padding: f.rem(24) f.rem(16);

        .list {
          grid-template-columns: 1fr;
          gap: f.rem(12);

          .item {
            padding: f.rem(24) f.rem(16);
          }
        }
      }
    }

    .history {
      position: relative;

      &_content {
        margin-top: f.rem(12);

        .tab {
          margin-bottom: f.rem(16);
          border-bottom: none;

          .select {
            padding: f.rem(12) f.rem(16);
            background-color: #fff;
            border-radius: f.rem(4);
            border: 1px solid #D0D5DD;

            &-selected {
              font-weight: 400;
              font-size: f.rem(14);
              line-height: 1.3;
              letter-spacing: 0;
              color: #000;
            }
          }
        }

        .list {
          display: grid;
          grid-template-columns: 1fr;
          gap: f.rem(20);

          .item {
            &-content {
              gap: f.rem(20);
            }
          }
        }
      }
    }

    .select {
      width: 100%;

      &-box {
        width: 100%;
        min-width: initial;
      }
    }
  }

  .profile .account_content-btns,
  .profile .address_content-btns {
    gap: f.rem(10);
  }
}