@use "function" as f;

.service {
    background-color: #F3F3F3;
    padding: f.rem(82) f.rem(80);

    &_wrap {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &-list {
        flex-grow: 1;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: f.rem(16);
        font-weight: 500;

        &:not(:last-child) {
            border-right: 1px solid #667085;
        }

        .icon {
            width: f.rem(40);
            margin-bottom: f.rem(16);

            img {
                width: 100%;
                height: auto;
            }
        }

    }

    .store {
        width: f.rem(256);
        display: flex;
        border: 1px solid #D0D5DD;
        -webkit-border-radius: f.rem(12);
        border-radius: f.rem(12);
        padding: f.rem(15);

        &-icon {
            flex: 0 0 f.rem(24);
            max-width: f.rem(24);
            height: auto;

            img {
                width: 100%;
                height: auto;
            }
        }

        &-txt {
            flex-grow: 1;
            max-width: calc(100% - f.rem(24));
            padding-left: f.rem(14);
            font-weight: 600;
            color: #000;
            font-size: f.rem(16);

            .link-but {
                margin-top: f.rem(8);
                height: f.rem(34);
                -webkit-border-radius: f.rem(6);
                border-radius: f.rem(6);
                font-size: f.rem(12);
            }
        }
    }
}

@media screen and (min-width: 1024px) {}

@media screen and (min-width:1024px) and (max-width:1200px) {}

@media screen and (max-width:1023px) {


    .service {
        padding: f.rem(48) f.rem(15);


        &-list {
            flex: 0 0 100%;
            max-width: 100%;
            grid-template-columns: repeat(2, 1fr);
            row-gap: f.rem(20);
            margin-bottom: f.rem(20);

            :nth-child(even) {
                border-right: none;
            }
        }

        &-item {
            font-size: f.rem(14);
            padding: f.rem(15);
            text-align: center;
        }

        .store {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}