@use "function" as f;

.sub-banner {
  position: relative;
  width: 100%;
  height: auto;

  &--img {
    position: relative;
    width: 100%;
    height: auto;
    line-height: 0;

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 32.01%,
        rgba(0, 0, 0, 0.6) 93.42%
      );
      pointer-events: none;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &--txt {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    bottom: f.rem(40);
    padding: 0 f.rem(20);
    text-align: center;
    z-index: 2;

    .breadcrumb {
      padding: 0;
      ul {
        justify-content: center;
        margin-bottom: f.rem(20);

        li {
          a,
          span {
            color: #fff;
          }
        }
      }
    }

    .title_block {
      h1 {
        color: #fff;
        font-size: f.rem(80);
        letter-spacing: -0.02em;
        margin-bottom: f.rem(20);
        line-height: 90%;
      }
    }

    .sub-banner--desc {
      color: #fff;
      font-size: f.rem(20);
      font-weight: 500;
    }
  }

  &.no-overlay {
    .sub-banner--img {
      &::after {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .sub-banner {
    margin-bottom: f.rem(20);

    &--img {
      aspect-ratio: 375/375;

      img {
        width: 100%;
        height: 100%;
        -webkit-object-fit: cover;
        object-fit: cover;
      }
    }

    &--txt {
      padding: 0 f.rem(12);
      .title_block {
        h1 {
          font-size: f.rem(32);
        }
      }

      .sub-banner--desc {
        font-size: f.rem(16);
      }
    }
  }
}
