@use "function" as f;

.sub-banner {
  position: relative;
  width: 100%;
  height: auto;

  &--img {
    position: relative;
    width: 100%;
    height: auto;
    line-height: 0;

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.20)
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &--txt {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    bottom: f.rem(40);
    padding: 0 f.rem(20);
    text-align: center;
    z-index: 2;

    .breadcrumb {
      ul {
        justify-content: center;
        margin-bottom: f.rem(20);

        li {

          a,
          span {
            color: #fff;
          }
        }
      }
    }

    .title_block {

      h1 {
        color: #fff;
        font-size: f.rem(80);
        letter-spacing: -0.02em;
        margin-bottom: f.rem(20);
        line-height: 90%;
      }
    }

    .sub-banner--desc {
      color: #fff;
      font-size: f.rem(20);
      font-weight: 500;
    }
  }
}

@media screen and (max-width: 1023px) {
  .sub-banner {
    margin-bottom: f.rem(20);

    &--img {
      aspect-ratio: 375/180;

      img {
        width: 100%;
        height: 100%;
        -webkit-object-fit: cover;
        object-fit: cover;
      }
    }

    &--txt {
      .title_block {

        h1 {}
      }

      .sub-banner--desc {}
    }
  }
}