@use "function" as f;

.whatnow {
    &_wrap {
        position: relative;
    }

    &_banner {
        position: relative;


        &--item {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: auto;

            opacity: 0;
            -webkit-transition: opacity 0.3s linear;
            transition: opacity 0.3s linear;

            &.current {
                position: relative;
                left: auto;
                top: auto;
                opacity: 1;
            }

            line-height: 0;

            img {
                width: 100%;
                height: auto;
            }
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: radial-gradient(52.84% 52.84% at 50% 47.16%, rgba(255, 255, 255, 0) 34.13%, rgba(0, 0, 0, 0.54) 100%);

        }
    }

    &_content {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        padding-left: f.rem(40);
        padding-top: f.rem(74);
        z-index: 1;
    }

    &_detail {
        width: f.rem(448);
        color: #fff;
        font-size: f.rem(16);
        line-height: 1.5;

        .title_block {

            .sub-title,
            h2 {
                color: #fff;
            }
        }

        .title_block,
        p {
            margin-bottom: f.rem(20);
        }
    }

    &_thumb {
        width: f.rem(770);
        position: absolute;
        right: 3px;
        bottom: f.rem(58);
        z-index: 3;
        .swiper-slide {
            height: auto;
        }

        .card {
            height: 100%;
            padding: f.rem(25);
            position: relative;
            border: 2px solid var(--global-color);
            -webkit-border-radius: f.rem(12);
            border-radius: f.rem(12);

            &::before {
                content: '';
                position: absolute;
                top: f.rem(20);
                left: f.rem(20);
                width: f.rem(20);
                height: f.rem(20);
                /* background: url(../images/cd.png) no-repeat center center; */
                background-size: 100% auto;
            }

            &-img {
                width: f.rem(131);
                height: auto;
            }

            &-txt {
                h3 {
                    font-size: f.rem(16);
                    font-weight: 500;
                }

                .price {
                    font-size: f.rem(16);
                }
            }
        }

        &--item {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: auto;

            opacity: 0;
            pointer-events: none;
            -webkit-transition: opacity 0.3s linear;
            transition: opacity 0.3s linear;

            &.current {
                position: relative;
                left: auto;
                top: auto;
                opacity: 1;
                pointer-events: all;
            }
        }

        .whatnowSlider {
            padding-bottom: f.rem(20);
        }

        &--img {
            aspect-ratio: 142/104;
            line-height: 0;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
                -webkit-object-fit: cover;
                object-fit: cover;
                border: 1px solid #fff;
                -webkit-border-radius: f.rem(4);
                border-radius: f.rem(4);
            }
        }

        .swiper-horizontal>.swiper-scrollbar {
            background-color: rgba(255, 255, 255, 1);
            bottom: 0;
            width: 100%;
            height: 3px;
            left: 0;
        }

        .swiper-button-prev,
        .swiper-button-next {
            width: f.rem(24);
            height: f.rem(24);
            opacity: 1 !important;
            color: #fff;
            top: auto;
            bottom: f.rem(-12);

            &::after {
                font-size: f.rem(20);
            }
        }

        .swiper-button-prev {
            left: f.rem(-20);
            display: none;
        }

        .swiper-button-next {
            right: f.rem(-20);
        }

    }

    .block-nav {
        gap: f.rem(12);
    }

    .nav-prev,
    .nav-next {
        width: f.rem(48);
        height: f.rem(48);
        background-color: #F1F1F1;
        border: none;

        svg {
            width: f.rem(8);
            height: f.rem(16);
        }
    }
}

@media screen and (min-width: 1024px) {}

@media screen and (min-width:1024px) and (max-width:1200px) {}

@media screen and (max-width:1023px) {
    .whatnow {

        .title_block {
            margin-bottom: f.rem(20);
        }

        &_wrap {
            position: relative;
        }

        &_banner {
            position: relative;

            &--item {
                aspect-ratio: 375/648;

                img {
                    width: 100%;
                    height: 100%;
                    -webkit-object-fit: cover;
                    object-fit: cover;
                }
            }

        }

        &_content {
            padding-top: f.rem(50);
            padding-left: f.rem(15);
        }

        &_thumb {
            width: 100%;
            right: 0;
            bottom: f.rem(50);
            padding: 0 f.rem(15);

            .whatnowSlider {
                overflow: visible;
            }


            .card {
                padding: f.rem(20) f.rem(10);

                &::before {
                    top: f.rem(10);
                    left: f.rem(10);
                }

                &-img {
                    width: f.rem(88);
                }

                &-txt {

                    h3,
                    .price {
                        font-size: f.rem(12);
                    }
                }
            }
        }

    }
}