.home-collection {
  padding: 6.25rem 1.25rem;
  width: 100%;
}
.home-collection_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
  width: 100%;
  align-items: stretch;
}
.home-collection .category-img {
  aspect-ratio: 690/882;
}
.home-collection_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem 1.25rem;
}

@media screen and (max-width: 1023px) {
  .home-collection {
    padding: 4.375rem 0.75rem;
  }
  .home-collection_wrap {
    grid-template-columns: 1fr;
    gap: 1.875rem;
  }
  .home-collection_grid {
    padding: 0 !important;
    gap: 1.5rem 0.5rem;
  }
}
