.search_popup {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  overflow-y: auto;
  z-index: 30;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s;
}
.search_popup.show {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.search_popup svg {
  filter: invert(0) !important;
}
.search_content {
  max-width: 70rem;
  margin: 0 auto;
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
}
.search_form {
  padding-bottom: 1rem;
  border-bottom: 2px solid #000000;
  color: #000;
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.search_form .form_group {
  flex: 1;
  position: relative;
  padding-right: 1.25rem;
}
.search_form .form_group input {
  width: 100%;
  height: 1.5rem;
  padding: 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #000000;
}
.search_form .form_group input::placeholder {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #000000;
}
.search_form .form_group .search-but--clear {
  position: absolute;
  color: #667085;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  min-width: 1rem;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s;
}
.search_form .form_group .search-but--clear.show {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}
.search_form .form_group .search-but--clear svg {
  width: 100%;
  min-width: 100%;
}
.search_form .search-but {
  cursor: pointer;
  width: 1.25rem;
  min-width: 1.25rem;
  height: 1.25rem;
}
.search_form .search-but svg {
  width: 100%;
  height: 100%;
}
.search_bottom {
  margin-top: 2.5rem;
  display: flex;
  gap: 2.5rem;
}
.search_popular {
  width: 38.3928571429%;
  min-width: 38.3928571429%;
}
.search_popular-title {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: 0;
  color: #000000;
}
.search_popular-list {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.search_popular-item {
  display: flex;
  align-items: center;
  gap: 0.875rem;
  cursor: pointer;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3;
  letter-spacing: 0;
  color: #000;
  pointer-events: all;
}
.search_popular-item svg {
  width: 0.875rem;
  min-width: 0.875rem;
  height: 0.875rem;
  pointer-events: none;
}
.search_result {
  flex: 1;
}
.search_result .result-default {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5rem;
}
.search_result .result-default .new {
  text-decoration: none;
}
.search_result .result-default .new-img {
  width: 100%;
  height: auto;
  line-height: 0;
  aspect-ratio: 190/140;
  border-radius: 0.25rem;
}
.search_result .result-default .new-img img {
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
  -webkit-object-fit: cover;
  object-fit: cover;
}
.search_result .result-default .new-txt {
  margin-top: 1rem;
}
.search_result .result-default .new-txt h3 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #000000;
}
.search_result .result-product {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.search_result .result-product .product {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0;
}
.search_result .result-product .product-img {
  margin: 0;
  padding: 0;
  width: 6.5625rem;
  min-width: 6.5625rem;
  height: 5.9375rem;
  border-radius: 0.25rem;
}
.search_result .result-product .product-txt {
  flex: 1;
}
.search_result .result-product .product-txt .name {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0;
  margin-top: 0;
  color: #000;
}
.search_result .result-product .product-txt .color {
  margin-top: 0.25rem;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.search_result .result-product .product-txt .color span {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3;
  letter-spacing: 0;
  color: #000000;
}

@media screen and (max-width: 1024px) {
  .search_popup {
    position: fixed;
    top: 0;
    bottom: 0;
    max-height: 100%;
    z-index: 30;
  }
  .search_content {
    max-width: 100%;
    padding: 1.5rem 1rem;
    padding-top: 0;
  }
  .search_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
    padding: 1.5rem 1rem 1rem 1rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #d9d9d9;
  }
  .search_head-title {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5;
    letter-spacing: 0;
  }
  .search_head .search-but--close {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .search_head .search-but--close svg {
    width: 0.75rem;
    height: 0.75rem;
  }
  .search_bottom {
    flex-direction: column;
  }
  .search_popular {
    width: 100%;
    min-width: 100%;
  }
  .search_popular-title {
    font-size: 0.9375rem;
  }
  .search_popular-list {
    margin-top: 1rem;
  }
  .search_result {
    flex: auto;
    width: 100%;
  }
  .search_result .result-default {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .search_result .result-default .new-img {
    aspect-ratio: 163/120;
  }
  .search_result .result-default .new-txt {
    margin-top: 0.75rem;
  }
  .search_result .result-default .new-txt h3 {
    font-size: 0.875rem;
  }
  .search_result .result-product .product-img {
    width: 5.5rem;
    min-width: 5.5rem;
    height: 5.5rem;
  }
  .search_result .result-product .product-txt {
    padding: 0.9375rem 0;
  }
  .search_result .result-product .product-txt .name {
    font-size: 0.875rem;
  }
  .search_result .result-product .product-txt .color {
    gap: 0.25rem;
  }
  .search_result .result-product .product-txt .color span {
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 1020px) and (max-width: 1024px) {
  .search_content {
    padding: 0 16px 24px 16px;
  }
  .search_head {
    padding: 24px 16px 16px 16px;
    margin-bottom: 24px;
  }
  .search_head-title {
    font-size: 20px;
  }
  .search_head .search-but--close {
    width: 24px;
    height: 24px;
  }
  .search_head .search-but--close svg {
    width: 12px;
    height: 12px;
  }
  .search_popular-title {
    font-size: 15px;
  }
  .search_popular-list {
    margin-top: 16px;
  }
  .search_popular-item {
    font-size: 14px;
  }
  .search_result .result-default {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  .search_result .result-default .new-txt {
    margin-top: 12px;
  }
  .search_result .result-default .new-txt h3 {
    font-size: 14px;
  }
  .search_result .result-product .product-img {
    width: 88px;
    min-width: 88px;
    height: 88px;
  }
  .search_result .result-product .product-txt {
    padding: 15px 0;
  }
  .search_result .result-product .product-txt .name {
    font-size: 14px;
  }
  .search_result .result-product .product-txt .color {
    gap: 4px;
  }
  .search_result .result-product .product-txt .color span {
    font-size: 12px;
  }
  .search_form .form_group input {
    font-size: 16px;
  }
}
@media (orientation: landscape) and (max-width: 1023px) {
  .search_result .result-default {
    grid-template-columns: repeat(3, 1fr);
  }
}
.mini-cart-popup {
  position: fixed;
  z-index: 31;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.mini-cart-popup.show {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.mini-cart_content {
  max-width: 30.0625rem;
  margin-left: auto;
  background-color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.mini-cart_head {
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  border-bottom: 1px solid #d9d9d9;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mini-cart_head .title {
  display: flex;
  align-items: center;
  gap: 0.875rem;
  font-weight: 500;
}
.mini-cart_head .title svg {
  width: 1.25rem;
  height: 1.15625rem;
}
.mini-cart_head .mini-cart--close {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.mini-cart_head .mini-cart--close svg {
  width: 0.75rem;
  height: 0.75rem;
}
.mini-cart_body {
  flex-grow: 1;
  overflow: hidden;
  overflow-y: auto;
}
.mini-cart_list {
  padding: 0 1.5rem;
}
.mini-cart_list .product {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1.5rem 0;
  border-bottom: 1px solid #ececec;
}
.mini-cart_list .product-img {
  padding: 0;
  margin: 0;
  width: 7rem;
  height: 7rem;
  min-width: 7rem;
}
.mini-cart_list .product-txt {
  flex: 1;
}
.mini-cart_list .product .tag {
  position: static;
  left: auto;
  top: auto;
}
.mini-cart_list .product .tag-item {
  background-color: #eb5757;
  font-size: 0.625rem;
}
.mini-cart_list .product .tag svg {
  width: 0.5rem;
  height: 0.625rem;
}
.mini-cart_list .product .model {
  margin-top: 0;
}
.mini-cart_list .product .name {
  font-size: 0.875rem;
  line-height: 1.3;
  margin-top: 0.125rem;
}
.mini-cart_list .product .price {
  font-size: 0.875rem;
  line-height: 1.3;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  margin-top: 0.5625rem;
}
.mini-cart_list .product .action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;
  margin-top: 1rem;
}
.mini-cart_list .product .action-control {
  width: 6.25rem;
  height: 2.25rem;
  padding: 0 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.375rem;
  border-radius: 0.125rem;
  border: 1px solid #d0d5dd;
}
.mini-cart_list .product .action--minus, .mini-cart_list .product .action--plus, .mini-cart_list .product .action--quantity {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.mini-cart_list .product .action--minus, .mini-cart_list .product .action--plus {
  width: 1rem;
  height: 1rem;
}
.mini-cart_list .product .action--minus svg, .mini-cart_list .product .action--plus svg {
  width: 0.583125rem;
  height: 0.583125rem;
}
.mini-cart_list .product .action--quantity {
  text-align: center;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.4;
  letter-spacing: 0;
}
.mini-cart_list .product .action .action-detele-btn {
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #282930;
}
.mini-cart_list .product .action .action-detele-btn svg {
  width: 0.75rem;
  height: 0.833125rem;
}
.mini-cart_footer {
  padding: 1rem 1.5rem;
}
.mini-cart_total {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0;
  color: #000000;
}
.mini-cart_total .title {
  font-weight: 500;
}
.mini-cart_checkout {
  margin-top: 0.75rem;
}
.mini-cart_checkout--link {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0;
  color: #fff;
  background: var(--global-color);
  text-decoration: none;
  border-radius: 0.25rem;
}

@media screen and (max-width: 1023px) {
  .mini-cart_content {
    max-width: 100%;
    margin-left: 0;
  }
  .mini-cart_head {
    font-size: 1.25rem;
    padding: 1.5rem 1rem 1rem 1rem;
  }
  .mini-cart_list {
    padding: 0 1rem;
  }
  .mini-cart_list .product-img {
    padding: 0;
    margin: 0;
    width: 7rem;
    height: 7rem;
    min-width: 7rem;
  }
  .mini-cart_list .product .price {
    flex-wrap: wrap;
    gap: 0.25rem;
    margin-top: 0.40625rem;
  }
  .mini-cart_list .product .action-control {
    width: 6.25rem;
    height: 2.25rem;
    padding: 0 0.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.375rem;
    border-radius: 0.125rem;
    border: 1px solid #d0d5dd;
  }
  .mini-cart_footer {
    padding: 1rem;
    box-shadow: 2px 4px 20px 0px rgba(0, 0, 0, 0.1019607843);
  }
  .mini-cart_total {
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 1020px) and (max-width: 1024px) {
  .mini-cart_content {
    max-width: 460px;
  }
  .mini-cart_head .title {
    font-size: 16px;
  }
  .mini-cart_head .title svg {
    width: 20px;
    height: 16px;
  }
  .mini-cart_head .mini-cart--close {
    width: 24px;
    height: 24px;
  }
  .mini-cart_head .mini-cart--close svg {
    width: 12px;
    height: 12px;
  }
  .mini-cart_list .product-txt {
    padding-left: 20px;
  }
  .mini-cart_list .product .model {
    font-size: 12px;
  }
  .mini-cart_list .product .name,
  .mini-cart_list .product .price {
    font-size: 14px;
  }
  .mini-cart_list .product .tag-item {
    font-size: 12px;
  }
  .mini-cart_list .product .action-control {
    width: 100px;
    height: 36px;
  }
  .mini-cart_list .product .action--plus,
  .mini-cart_list .product .action--minus,
  .mini-cart_list .product .action--quantity {
    flex: 0 0 24px;
    max-width: 24px;
    height: 24px;
    font-size: 14px;
  }
  .mini-cart_list .product .action--plus svg,
  .mini-cart_list .product .action--minus svg,
  .mini-cart_list .product .action--quantity svg {
    width: 12px;
    height: 12px;
  }
  .mini-cart_list .product .action .action-detele-btn {
    width: 24px;
    height: 24px;
    font-size: 14px;
  }
  .mini-cart_list .product .action .action-detele-btn svg {
    width: 16px;
    height: 16px;
  }
  .mini-cart_total {
    font-size: 16px;
  }
  .mini-cart_checkout .mini-cart_checkout--link {
    height: 48px;
    font-size: 16px;
  }
}
.header {
  position: fixed;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  background-color: #fff;
  z-index: 20;
  -webkit-transition: top 0.1s ease, background-color 0.2s ease-in;
  transition: top 0.1s ease, background-color 0.2s ease-in;
}
.header.header-in .bg-menu-overlay {
  opacity: 1;
}
.header-container {
  width: 100%;
  max-width: 87.5rem;
  margin-left: auto;
  margin-right: auto;
}
.header .select-language .select-selected,
.header .select-language .select-arrow {
  color: #fff;
}
.header .select-language .select-selected {
  font-size: 0.75rem;
}
.header .select-language .select-arrow {
  margin-left: 0.5rem;
}
.header .select-language .select-box {
  min-width: initial;
  border-radius: 0.625rem;
  padding: 0.5rem 0;
  width: max-content;
}
.header .select-language .select-box ul {
  padding: 0;
}
.header .select-language .select-box li {
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.3;
  letter-spacing: 0;
}
.header .support {
  margin-left: auto;
  display: flex;
  gap: 2.125rem;
}
.header .support-list {
  display: flex;
  align-items: center;
  gap: 2.125rem;
}
.header .support-list li {
  position: relative;
}
.header .support-list li::after {
  content: "";
  position: absolute;
  right: -1.0625rem;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}
.header .support-list a {
  display: inline-flex;
  align-items: center;
  gap: 0.625rem;
  font-weight: 400;
  color: #fff;
  display: flex;
  font-size: 0.75rem;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header .support-icon {
  width: 0.8125rem;
  height: 0.75rem;
}
.header .support-icon svg {
  width: 100%;
  height: 100%;
}
.header-top {
  background-color: var(--global-color);
  display: flex;
  align-items: center;
  height: 2.5rem;
  padding: 0 2.5rem;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.header-top .promotion_tag {
  display: inline-flex;
  align-items: center;
  color: #fff;
  font-size: 0.75rem;
  gap: 0.75rem;
  font-family: var(--font-body);
}
.header-top .promotion_tag strong {
  font-weight: 600;
}
.header-top .promotion_tag-icon {
  width: 1.875rem;
  height: 1rem;
}
.header-top .promotion_tag-icon svg {
  width: 100%;
  height: 100%;
}
.header-mid {
  position: relative;
  display: flex;
  padding: 0 1.25rem;
  height: 5.375rem;
  align-items: center;
}
.header-mid .logo {
  width: 4.375rem;
  line-height: 0;
}
.header-mid .logo a {
  display: block;
  width: 100%;
  height: auto;
}
.header-mid .logo img {
  width: 100%;
  height: auto;
}
.header .nav-menu {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.header .nav-menu > li > a,
.header .nav-menu > li > span {
  color: #000;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1rem;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.header .nav-menu > li > a span,
.header .nav-menu > li > span span {
  position: relative;
}
.header .nav-menu > li > a span::before,
.header .nav-menu > li > span span::before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #000;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  -webkit-transition: width 0.25s ease-in-out;
  transition: width 0.25s ease-in-out;
  display: none;
}
.header .nav-menu > li:hover > a span::before {
  width: 100%;
}
.header .nav-menu > li.current > a,
.header .nav-menu > li.current > span, .header .nav-menu > li.active > a,
.header .nav-menu > li.active > span {
  color: var(--global-color);
}
.header-action {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.header-action .action-icon {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  align-items: center;
  justify-content: center;
  color: #000;
  cursor: pointer;
}
.header-action .search {
  display: flex;
}
.header-action .search-input {
  display: block;
  flex-grow: 1;
  font-size: 0.875rem;
  color: #000;
  font-weight: 400;
  font-family: var(--font-body);
}
.header-action .search-but svg {
  width: 1.25rem;
  height: 1.25rem;
}
.header-action .mini-cart svg {
  width: 1.375rem;
  height: 1.375rem;
}
.header-action .user {
  display: flex;
  align-items: center;
  color: #000;
  gap: 0.5rem;
  cursor: pointer;
  text-decoration: none;
}
.header-action .user-avatar svg {
  width: 1.125rem;
  height: 1.25rem;
}
.header-action .user-caption {
  font-size: 0.875rem;
  font-weight: 500;
  white-space: nowrap;
  max-width: 6.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header-action .user .icon-caret {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.125rem;
  height: 1.125rem;
}
.header-action .user .icon-caret svg {
  width: 0.75rem;
  height: 0.375rem;
}
.header-action .select-profile .select-header .select-selected {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.3;
  letter-spacing: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.header-action .select-profile .select-box {
  width: max-content;
  padding: 0.625rem 0;
  border-radius: 0.625rem;
}
.header-action .select-profile .select-box ul {
  padding: 0;
}
.header-action .select-profile .select-box ul li {
  padding: 0;
}
.header-action .select-profile .select-box ul li a {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.3;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  padding: 0.75rem 1.5rem;
}
.header-action .select-profile .select-box ul li a svg {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}
.header.transparent .header-top {
  background-color: rgba(1, 90, 171, 0);
}
.header.transparent .header-mid {
  background-color: rgba(255, 255, 255, 0);
}
.header.transparent .header-mid svg {
  filter: invert(1);
}
.header.transparent .header-action .user-caption,
.header.transparent .nav-menu > li > a,
.header.transparent .nav-menu > li > span {
  color: #fff;
}
.header.transparent .header-action .search {
  border-color: #fff;
}
.header.transparent .header-action .search .search-input {
  color: #fff;
}
.header.sticky {
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  top: 0rem;
}
.header.open-menu .side {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.header.open-menu .bg-menu-overlay {
  opacity: 1;
}

.bg-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  width: 100%;
  height: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.bg-menu::after {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  height: 0;
  width: 100%;
  background: linear-gradient(0deg, #fff 15%, hsla(0, 0%, 100%, 0));
  transition: none;
  pointer-events: none;
  transition-delay: 0.1s;
}

.bg-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 10;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.side {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 23.1875rem;
  height: 100vh;
  background-color: #fff;
  display: flex;
  opacity: 0;
  -webkit-transition: opacity 0.15s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.15s ease-in-out, transform 0.3s ease-in-out;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.side .goto-list {
  display: block;
  margin-bottom: 1.875rem;
}
.side .goto-list span {
  display: block;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0.25rem;
}
.side .goto-list a {
  color: var(--global-color);
  font-weight: 500;
  font-size: 0.875rem;
  text-decoration: underline;
}
.side {
  z-index: 999;
}
.side-caption {
  display: block;
  width: calc(100% - 2rem);
  margin: 0 auto;
  color: #98A2B3;
  font-weight: 500;
  font-size: 0.875rem;
  padding-bottom: 0.5rem;
}
.side-caption.full {
  width: 100%;
}
.side-caption.has-border {
  border-top: 1px solid #D0D5DD;
  margin-top: 0.625rem;
  padding-top: 1rem;
}
.side svg {
  flex: 0 0 0.5rem;
  max-width: 0.5rem;
  height: 0.875rem;
}
.side .close-menu {
  width: 1.875rem;
  height: 1.875rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}
.side .close-menu svg {
  width: 0.875rem;
  height: 0.875rem;
}
.side-box {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-bottom: 1.25rem;
  background-color: #fff;
}
.side-top,
.side .dropdown-back {
  height: 4.375rem;
  min-height: 4.375rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.side-top .logo {
  margin: 0;
  width: 3.125rem;
}
.side-top .logo a {
  display: block;
  width: 100%;
  line-height: 0;
}
.side-top .logo a img {
  width: 100%;
  height: auto;
}
.side-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.side-menu {
  flex-grow: 1;
  width: 100%;
  max-height: 100%;
  display: block;
  margin: 0;
  padding: 0 1rem;
}
.side-menu .dropdown-toggle,
.side-menu .normal-link,
.side-menu .link-normal,
.side-menu .dropdown-menu--title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.9375rem 0;
}
.side-menu .arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}
.side-menu .back-menu {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  cursor: pointer;
}
.side-menu .back-menu .arrow {
  margin-left: -0.375rem;
}
.side-menu .back-menu .arrow svg {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.side-menu .title,
.side-menu a {
  font-size: 1rem;
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  cursor: pointer;
}
.side-menu > li > .dropdown-toggle .title {
  text-transform: uppercase;
}
.side-menu > li > a {
  text-transform: uppercase;
}
.side .container-list {
  background-color: #fff;
  display: flex;
  width: 100%;
  max-width: 21.4375rem;
  position: fixed;
  top: 0;
  left: 0;
  height: var(--winH, 100vh);
  transform: translateX(100%);
  flex-direction: column;
  padding-bottom: 1.25rem;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.15s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.15s ease-in-out, transform 0.3s ease-in-out;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.side .container-list--wrap {
  flex-grow: 1;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.side .container-list ul {
  padding: 0 1rem;
}
.side .dropdown-menu {
  background-color: #F4F4F4;
  display: block;
  width: 100%;
  max-width: 21.4375rem;
  position: fixed;
  height: var(--winH, 100vh);
  top: 0;
  left: 0;
  display: block;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.15s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.15s ease-in-out, transform 0.3s ease-in-out;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.side .dropdown-menu--subitem.active > .dropdown-menu--title .title {
  font-weight: 600;
}
.side .dropdown-menu--subitem ul li {
  padding: 0.625rem 0;
}
.side .dropdown-menu--subitem ul li a {
  font-weight: 400;
}
.side .dropdown-menu .container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-bottom: 1.25rem;
}
.side .dropdown-menu .container .dropdown-menu--inner {
  flex-grow: 1;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.side .dropdown-menu--inner {
  padding: 0 1rem;
}
.side .push-content--wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}
.side .push-content--wrap .dropdown-menu--title {
  padding: 0;
  flex: 0 0 1.5rem;
  max-width: 1.5rem;
  justify-content: flex-end;
}
.side .push-content .container-list li {
  padding: 0.9375rem 0;
}
.side .push-content--item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.side .push-content--item .image-push-wrapper {
  flex: 0 0 5.5rem;
  max-width: 5.5rem;
  height: auto;
  line-height: 0;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.side .push-content--item .image-push-wrapper img {
  width: 100%;
  height: auto;
}
.side .push-content--item p {
  font-size: 1rem;
  font-weight: 500;
}
.side .item-lv2.active .container-list {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.side-item.active .dropdown-menu {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translateX(23.1875rem);
  transform: translateX(23.1875rem);
}
.side-item.active > .dropdown-toggle .title {
  font-weight: 600;
}
.side-bot {
  width: 100%;
  padding: 1rem;
  margin-top: auto;
}
.side-bot .support {
  background-color: #F2F4F7;
  display: block;
  padding: 0.625rem 1.25rem;
  -webkit-border-radius: 0.75rem;
  border-radius: 0.75rem;
}
.side-bot .support-list {
  display: block;
}
.side-bot .support-list li::after {
  display: none;
}
.side-bot .support-list li {
  border-bottom: 1px solid #D9D9D9;
}
.side-bot .support-list a {
  color: #1D2939;
  padding: 1.0625rem 0;
  font-size: 0.75rem;
  text-decoration: none;
  display: flex;
  gap: 0.625rem;
}
.side-bot .support-icon {
  width: 1rem;
  height: 1rem;
  display: inline-flex;
}
.side-bot .support-icon svg {
  width: 100%;
  height: 100%;
  max-width: 100%;
  flex: 0 0 100%;
}
.side-bot .select-language {
  display: inline-flex;
}
.side-bot .select-language .select-selected,
.side-bot .select-language .select-arrow {
  color: #1D2939;
}
.side-bot .select-language .select-selected {
  font-size: 0.75rem;
}
.side-bot .select-language .select-header {
  padding: 1.0625rem 0;
}
.side-bot .select-language .select-box {
  right: auto;
  left: 0;
  top: auto;
  bottom: 100%;
}

.menu-accordion--header {
  display: flex;
  justify-content: space-between;
}
.menu-accordion--toggle {
  flex: 0 0 1rem;
  max-width: 1rem;
  height: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.menu-accordion--toggle svg {
  width: 80%;
  height: 80%;
  max-width: 80%;
  flex: none;
}
.menu-accordion--toggle.current svg {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}
.menu-accordion--body {
  overflow: hidden;
  height: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: height 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: height 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.menu-accordion--body.current {
  opacity: 1;
  pointer-events: all;
  height: var(--data-h);
}

@media screen and (min-width: 1025px) {
  .md {
    display: none;
  }
  .header-mid {
    justify-content: space-between;
  }
  .header-action {
    margin-left: unset;
  }
  .header .nav {
    height: 100%;
  }
  .header .nav-menu {
    height: 100%;
    gap: 2.5rem;
  }
  .header .nav-menu > li:hover > a,
  .header .nav-menu > li:hover > span {
    color: var(--global-color);
  }
  .header .nav-item {
    height: 100%;
    display: inline-flex;
    align-items: center;
  }
  .header .nav-item.active .dropdown-menu {
    border-top: 1px solid #e1e1e1;
    background-color: transparent;
    max-height: calc(100vh - 200px);
  }
  .header .nav-item.active .dropdown-menu .container {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;
    transition-delay: 0.25s;
  }
  .header:not(.transparent) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .header:not(.transparent) + .main {
    padding-top: 5.375rem;
  }
  .search-but--close {
    position: absolute;
    right: 2.5rem;
    top: 1.625rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-items: center;
  }
  .search-but--close svg {
    width: 1rem;
    height: 1rem;
    pointer-events: none;
  }
  .side .dropdown-toggle,
  .side .dropdown-menu--title,
  .side .push-content--wrap,
  .side .container-list--wrap a,
  .side .link-normal {
    -webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
  }
  .side .dropdown-toggle .title,
  .side .dropdown-menu--title .title,
  .side .push-content--wrap .title,
  .side .container-list--wrap a .title,
  .side .link-normal .title {
    -webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
  }
  .side .push-content--item:hover {
    color: var(--global-color);
  }
  .side .push-content--wrap:hover .dropdown-menu--title {
    color: var(--global-color);
  }
  .side .dropdown-toggle:hover,
  .side .dropdown-menu--title:hover,
  .side .dropdown-menu--link:hover,
  .side .link-normal:hover {
    color: var(--global-color);
  }
  .side .dropdown-toggle:hover .title,
  .side .dropdown-menu--title:hover .title,
  .side .dropdown-menu--link:hover .title,
  .side .link-normal:hover .title {
    color: var(--global-color);
  }
}
@media screen and (max-width: 1024px) {
  .hide-md {
    display: none !important;
  }
  .bg-menu,
  .bg-menu-overlay {
    display: none;
  }
  .header-top {
    padding: 0 0.9375rem;
    height: 2.125rem;
  }
  .header-top .promotion_tag {
    font-size: 0.625rem;
  }
  .header-mid {
    padding: 0 0.9375rem;
    height: 3.75rem;
  }
  .header-mid .logo {
    width: 3.125rem;
    margin-left: 0.75rem;
  }
  .header-mid .toggle-menu {
    width: 1.25rem;
    height: 1.25rem;
  }
  .header-mid .toggle-menu svg {
    width: 100%;
    height: 100%;
  }
  .header-action {
    gap: 0.75rem;
  }
  .header-action .user-caption {
    display: none;
  }
  .header .nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    padding-bottom: 3.75rem;
    background-color: #fff;
    display: none;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
  }
  .header .nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.375rem;
    min-height: 4.375rem;
    padding: 0 1rem;
  }
  .header .nav-top .logo {
    margin: 0;
  }
  .header .nav .close-menu {
    width: 1.875rem;
    height: 1.875rem;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
  }
  .header .nav .close-menu svg {
    width: 0.875rem;
    height: 0.875rem;
  }
  .header .nav a:before,
  .header .nav span::before {
    display: none;
  }
  .header .nav-menu {
    flex-grow: 1;
    width: 100%;
    max-height: 100%;
    display: block;
    margin: 0;
    padding: 0 1rem;
  }
  .header .nav-menu > li {
    border-top: 1px solid #D9D9D9;
  }
  .header .nav-menu .dropdown-toggle,
  .header .nav-menu .normal-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 0;
  }
  .header .nav-menu .dropdown-toggle svg,
  .header .nav-menu .normal-link svg {
    width: 0.5rem;
    height: 0.75rem;
  }
  .header .nav-menu .dropdown-back {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.375rem;
    min-height: 4.375rem;
    padding: 0 1rem;
    border-bottom: 1px solid #D9D9D9;
  }
  .header .nav-menu .dropdown-back .back-menu {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.125rem;
    font-weight: 500;
    gap: 0.875rem;
  }
  .header .nav-menu .dropdown-back .back-menu svg {
    width: 1.125rem;
    height: 0.625rem;
  }
  .header .nav-menu .dropdown-menu {
    background-color: #fff;
    display: block;
    width: 100%;
    position: fixed;
    height: var(--winH, 100vh);
    top: 0;
    left: 0;
    -webkit-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    max-height: none;
    z-index: 1;
    overflow: hidden;
  }
  .header .nav-menu .dropdown-menu .container {
    opacity: 1;
    visibility: visible;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .header .nav-menu .dropdown-menu--customize .dropdown-menu--subitem {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .header .nav-menu .dropdown-menu--customize .dropdown-menu--inner {
    padding: 1rem;
    padding-top: 0;
    display: block;
  }
  .header .nav-menu .dropdown-menu--customize .dropdown-menu--subitem {
    padding: 0;
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 0rem;
  }
  .header .nav-menu .dropdown-menu--customize .dropdown-menu--subitem.is-group {
    border: none;
  }
  .header .nav-menu .dropdown-menu--customize .dropdown-menu--subitem .dropdown-menu--link {
    font-size: 0.875rem;
  }
  .header .nav-menu .dropdown-menu--customize .container-list {
    height: var(--data-h, 0px);
    overflow: hidden;
    opacity: 0;
    -webkit-transition: height 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: height 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .header .nav-menu .dropdown-menu--customize .container-list ul {
    padding-bottom: 1rem;
    padding-left: 1.125rem;
  }
  .header .nav-menu .dropdown-menu--customize .dropdown-menu--title.current + .container-list {
    opacity: 1;
  }
  .header .nav-menu .push-content {
    padding: 1rem 1rem 2.8125rem 1rem;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    row-gap: 20px;
    flex-grow: 1;
    max-height: 100%;
    align-content: flex-start;
  }
  .header .nav-menu .push-content[data-item="2"] {
    grid-template-columns: repeat(1, 1fr);
    max-width: 100%;
  }
  .header .nav-menu .push-content {
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  .header .nav-menu .dropdown-menu--title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 1.25rem 0;
  }
  .header .nav-menu .dropdown-menu--title.current .icon-toggle .icon-increase {
    opacity: 0;
  }
  .header .nav-menu .dropdown-menu--title.current .icon-toggle .icon-decrease {
    opacity: 1;
  }
  .header .nav-menu .dropdown-menu--title .icon-toggle {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--global-color);
  }
  .header .nav-menu .dropdown-menu--title .icon-toggle .icon-increase,
  .header .nav-menu .dropdown-menu--title .icon-toggle .icon-decrease {
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
  }
  .header .nav-menu .dropdown-menu--title .icon-toggle .icon-decrease {
    opacity: 0;
  }
  .header .nav-menu .dropdown-menu--title .icon-toggle svg {
    width: 0.875rem;
    position: absolute;
    height: 0.875rem;
  }
  .header .nav-bot {
    width: 100%;
    padding: 1rem;
    margin-top: auto;
  }
  .header .nav-bot .support {
    background-color: #F2F4F7;
    display: block;
    padding: 0.625rem 1.25rem;
    -webkit-border-radius: 0.75rem;
    border-radius: 0.75rem;
  }
  .header .nav-bot .support-list {
    display: block;
  }
  .header .nav-bot .support-list li::after {
    display: none;
  }
  .header .nav-bot .support-list li {
    border-bottom: 1px solid #D9D9D9;
  }
  .header .nav-bot .support-list a {
    color: #1D2939;
    padding: 1.0625rem 0;
    font-size: 0.75rem;
  }
  .header .nav-bot .support-icon {
    width: 1rem;
    height: 1rem;
  }
  .header .nav-bot .select-language {
    display: inline-flex;
  }
  .header .nav-bot .select-language .select-selected,
  .header .nav-bot .select-language .select-arrow {
    color: #1D2939;
  }
  .header .nav-bot .select-language .select-selected {
    font-size: 0.75rem;
  }
  .header .nav-bot .select-language .select-header {
    padding: 1.0625rem 0;
  }
  .header .nav-bot .select-language .select-box {
    right: auto;
    left: 0;
    top: auto;
    bottom: 100%;
  }
  .header:not(.transparent) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .header:not(.transparent) + .main {
    padding-top: 3.75rem;
  }
  .header.open-menu {
    background-color: #fff;
  }
  .header.open-menu .header-top {
    background-color: rgb(1, 90, 171);
  }
  .header.open-menu .header-mid {
    background-color: #fff;
  }
  .header.open-menu .header-mid svg {
    filter: invert(0);
  }
  .header.open-menu .nav-menu > li > a {
    color: #000;
  }
  .header.open-menu .header-action .search {
    border-color: #000;
  }
  .header.open-menu .header-action .search .search-input {
    color: #000;
  }
  .header.open-menu .nav {
    display: flex;
    flex-direction: column;
  }
  .header.open-menu .nav li {
    cursor: pointer;
  }
  .header.open-menu .nav li.current .dropdown-menu {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@media screen and (min-width: 1020px) and (max-width: 1024px) {
  .header-top {
    padding: 0 0.9375rem;
    height: 34px;
  }
  .header-top .promotion_tag {
    font-size: 12px;
  }
  .header-mid {
    padding: 0 0.9375rem;
    height: 50px;
  }
  .header-mid .logo {
    width: 127px;
    margin-left: 12px;
  }
  .header-mid .toggle-menu {
    width: 20px;
    height: 20px;
  }
  .header-action {
    gap: 12px;
  }
  .header-action .action-icon {
    width: 24px;
    height: 24px;
  }
  .header-action .action-icon svg {
    width: 20px;
    height: 20px;
  }
  .header-action .user-caption {
    display: none;
  }
  .header .nav {
    padding-bottom: 60px;
  }
  .header .nav-top {
    height: 70px;
    min-height: 70px;
    padding: 0 16px;
  }
  .header .nav .close-menu {
    width: 30px;
    height: 30px;
  }
  .header .nav .close-menu svg {
    width: 14px;
    height: 14px;
  }
  .header .nav-menu {
    padding: 0 16px;
  }
  .header .nav-menu > li > .dropdown-toggle .title,
  .header .nav-menu > li > a {
    font-size: 14px;
  }
  .header .nav-menu .dropdown-toggle,
  .header .nav-menu .normal-link {
    padding: 20px 0;
  }
  .header .nav-menu .dropdown-toggle svg,
  .header .nav-menu .normal-link svg {
    width: 8px;
    height: 12px;
  }
  .header .nav-menu .dropdown-back {
    height: 70px;
    min-height: 70px;
    padding: 0 16px;
  }
  .header .nav-menu .dropdown-back .back-menu {
    font-size: 18px;
    gap: 14px;
  }
  .header .nav-menu .dropdown-back .back-menu svg {
    width: 18px;
    height: 10px;
  }
  .header .nav-menu .dropdown-menu--customize .dropdown-menu--inner {
    padding: 16px;
  }
  .header .nav-menu .dropdown-menu--customize .dropdown-menu--subitem .dropdown-menu--link {
    font-size: 14px;
  }
  .header .nav-menu .dropdown-menu--customize .container-list ul {
    padding-bottom: 16px;
    padding-left: 18px;
  }
  .header .nav-menu .push-content {
    padding: 16px 16px 45px 16px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    row-gap: 20px;
  }
  .header .nav-menu .push-content[data-item="2"] {
    grid-template-columns: repeat(3, 1fr);
  }
  .header .nav-menu .push-content--item p {
    font-size: 14px;
  }
  .header .nav-menu .dropdown-menu--title {
    padding: 20px 0;
    font-size: 14px;
  }
  .header .nav-menu .dropdown-menu--title .icon-toggle {
    width: 24px;
    height: 24px;
  }
  .header .nav-menu .dropdown-menu--title .icon-toggle svg {
    width: 14px;
    height: 14px;
  }
  .header .nav-bot {
    padding: 16px;
  }
  .header .nav-bot .support {
    padding: 10px 20px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
  }
  .header .nav-bot .support-list a {
    color: #1D2939;
    padding: 17px 0;
    font-size: 12px;
  }
  .header .nav-bot .support-icon {
    width: 16px;
    height: 16px;
  }
  .header .nav-bot .select-language .select-selected {
    font-size: 12px;
  }
  .header .nav-bot .select-language .select-header {
    padding: 17px 0;
  }
  .header:not(.transparent) + .main {
    padding-top: 82px;
  }
}
@media (orientation: landscape) and (max-width: 1023px) {
  .header .nav-menu .push-content {
    grid-template-columns: repeat(3, 1fr);
  }
  .header .nav-menu .push-content[data-item="2"] {
    grid-template-columns: repeat(3, 1fr);
  }
  body.land-mb {
    position: fixed;
  }
  body.land-mb .header-container,
  body.land-mb .header .side,
  body.land-mb .header .bg-menu-overlay {
    display: none;
  }
  body.land-mb .header + .main {
    padding-top: 0 !important;
  }
  body.land-mb .lookbook_introduce,
  body.land-mb .product-related,
  body.land-mb .lookbook-related,
  body.land-mb .subscribe,
  body.land-mb .footer {
    display: none;
  }
}
@media screen and (max-width: 1023px) {
  .side {
    max-width: 100%;
  }
  .side .dropdown-menu,
  .side .container-list {
    max-width: 100%;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  .side .dropdown-menu {
    z-index: 2;
  }
  .side .container-list {
    z-index: 3;
  }
  .side-item.active .dropdown-menu {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .side .item-lv2.active .container-list {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
