.breadcrumb {
  padding: 1.5rem 2.5rem;
}
.breadcrumb ul {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.breadcrumb ul li a,
.breadcrumb ul li span {
  font-weight: 500;
  text-decoration: none;
  font-size: 0.875rem;
}
.breadcrumb ul li a,
.breadcrumb ul li span {
  color: #000;
}

@media screen and (max-width: 1023px) {
  .breadcrumb {
    padding: 1rem;
  }
  .breadcrumb ul {
    gap: 0.625rem;
  }
  .breadcrumb li a,
  .breadcrumb li span {
    font-size: 0.75rem;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.zoom-img {
  overflow: hidden;
}

.zoom-img img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.zoom-img:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

input[type=number] {
  -moz-appearance: textfield;
}

.input-txt {
  width: 100%;
  height: 3rem;
  padding: 0 0.625rem;
  border: 1px solid #d0d5dd;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.area-txt {
  width: 100%;
  background-color: #fff;
  border: 1px solid #d0d5dd;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  padding: 0.625rem;
  height: 7.5rem;
}

.oneline-title {
  display: inline-flex;
  gap: 11px;
}

.input-txt--upload {
  line-height: 3rem;
  background-size: 1rem auto;
}
.input-txt--upload::-webkit-file-upload-button {
  display: none;
}

.product {
  position: relative;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.product-img {
  line-height: 0;
  display: block;
  aspect-ratio: 335/326;
  line-height: 0;
  margin-bottom: 1rem;
}
.product-img img {
  width: 100%;
  height: 100%;
  -webkit-object-fit: cover;
  object-fit: cover;
  -webkit-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}
.product-txt {
  display: flex;
  flex-direction: column;
}
.product-txt .name {
  color: #000;
  font-weight: 500;
  font-size: 1rem;
}
.product-txt .name a {
  color: inherit;
  text-decoration: none;
  font-weight: inherit;
}
.product-txt .model {
  color: #475467;
  font-weight: 500;
  font-size: 0.75rem;
  margin-top: 0.8125rem;
}
.product-txt .price {
  margin-top: 0.5rem;
  font-size: 1rem;
  display: flex;
  gap: 0.625rem;
}
.product-txt .price .sale {
  font-weight: 600;
  color: var(--global-color);
}
.product-txt .price .old {
  font-weight: 400;
  text-decoration: line-through;
  color: #667085;
}
.product .tag {
  position: absolute;
  right: 1.25rem;
  top: 1.25rem;
}
.product .compare {
  position: absolute;
  right: 1.25rem;
  top: 1.25rem;
}
.product .add-to-cart {
  position: absolute;
  right: 1.25rem;
  top: 1.25rem;
  color: var(--global-color);
}
.product .color {
  margin-top: 0.875rem;
  margin-bottom: 1.25rem;
}
.category-item {
  position: relative;
  width: 100%;
  height: auto;
}
.category-img {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 480/800;
  line-height: 1;
  overflow: hidden;
}
.category-img img {
  width: 100%;
  height: 100%;
  -webkit-object-fit: cover;
  object-fit: cover;
}
.category-img::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 32.01%, rgba(0, 0, 0, 0.6) 93.42%);
}
.category-txt {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  color: #fff;
  padding: 2.5rem;
}
.category-txt h3 {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.category-brief {
  color: #fff;
  font-size: 1.25rem;
  line-height: 1.4;
}

.article-banner {
  display: flex;
  flex-direction: column;
}
.article-banner--img {
  width: 100%;
  aspect-ratio: 361/341;
}
.article-banner--img img {
  width: 100%;
  height: 100%;
}
.article-banner--txt {
  padding: 1.25rem;
  background: linear-gradient(180deg, var(--global-color) 0%, #82c3ff 109.43%);
  color: #fff;
}
.article-banner--txt .title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0;
}
.article-banner--txt .btn-arrow {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #fff;
  margin-top: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #282930;
}
.article-banner--txt .btn-arrow svg {
  width: 0.75rem;
  height: 0.5625rem;
}
.article-banner a {
  text-decoration: none;
  font-weight: inherit;
  color: inherit;
}

.project {
  position: relative;
  width: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.project.project-big .name {
  font-size: 1.5rem;
}
.project.project-big .but-link {
  margin-top: 1.5rem;
}
.project-img {
  line-height: 0;
  width: 100%;
  height: auto;
  line-height: 0;
  margin-bottom: 1.25rem;
}
.project-img img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.project-txt {
  display: flex;
  flex-direction: column;
}
.project-txt .sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: #000000;
}
.project-txt .sub .date {
  font-weight: 400;
  color: #475467;
}
.project-txt .name {
  color: #000;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.3;
  margin-top: 0.75rem;
}
.project-txt .text {
  color: #000;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0.5rem;
}
.project-txt .but-link {
  color: var(--global-color);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 1.25rem;
  font-family: "Montserrat", sans-serif;
}
.project-txt .but-link svg {
  width: 0.8125rem;
  height: 0.5rem;
  margin-left: 0.5rem;
}

.tag-item {
  font-weight: 500;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #000000;
  background-color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.375rem;
  height: 1.375rem;
  padding: 0 0.625rem;
  font-size: 0.75rem;
}
.tag-item svg {
  width: 0.75rem;
  height: 1rem;
}

.compare-item {
  font-weight: 500;
  color: #000;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.75rem;
  cursor: pointer;
}
.compare-item svg {
  width: 0.5rem;
  height: 0.5rem;
}

.add-to-cart {
  font-weight: 500;
  color: #000;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.75rem;
  cursor: pointer;
}
.add-to-cart svg {
  width: 0.5rem;
  height: 0.5rem;
}

.color {
  display: flex;
  gap: 0.375rem;
}
.color li {
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--color-pro, #000);
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.card {
  width: 100%;
  height: auto;
  background: #fff;
  border-radius: 0.75rem;
  -webkit-border-radius: 0.75rem;
  margin: 0 auto;
  padding: 1.875rem;
}
.card-img {
  aspect-ratio: 174/160;
  line-height: 0;
  overflow: hidden;
}
.card-img img {
  width: 100%;
  height: 100%;
  -webkit-object-fit: cover;
  object-fit: cover;
}
.card-txt h3 {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 600;
  text-align: center;
}
.card-txt .price {
  color: var(--global-color);
  font-size: 1.25rem;
  text-align: center;
  font-weight: 700;
  margin-top: 0.875rem;
}
.block-nav {
  display: flex;
  gap: clamp(4px, 0.25rem, 0.25rem);
}

.nav-prev,
.nav-next {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.36);
  cursor: pointer;
}
.nav-prev svg,
.nav-next svg {
  width: 0.5rem;
  height: 1rem;
}

.nav-prev svg {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.nav-overlay li {
  margin-bottom: 1.25rem;
}
.nav-overlay li.current a,
.nav-overlay li.current span {
  font-weight: 700;
  color: rgb(255, 255, 255);
}
.nav-overlay li.current a::before,
.nav-overlay li.current span::before {
  width: 100%;
}
.nav-overlay a,
.nav-overlay span {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
  font-weight: 500;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
  cursor: pointer;
}
.nav-overlay a::before,
.nav-overlay span::before {
  content: "";
  position: absolute;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: #fff;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  -webkit-transition: width 0.25s ease-in-out;
  transition: width 0.25s ease-in-out;
}
.nav-overlay a:hover,
.nav-overlay span:hover {
  font-weight: 700;
  color: rgb(255, 255, 255);
}
.nav-overlay a:hover::before,
.nav-overlay span:hover::before {
  width: 100%;
}

.article {
  position: relative;
  width: 100%;
}
.article-img {
  width: 100%;
  height: auto;
  line-height: 0;
  overflow: hidden;
}
.article-img img {
  width: 100%;
  height: auto;
  -webkit-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}
.article-txt {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 1.875rem;
  font-weight: 400;
  z-index: 1;
  padding: 0 1.875rem 1.875rem 1.875rem;
  color: #fff;
}
.article-txt p {
  margin-bottom: 0.625rem;
}
.article-txt h3 {
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 1.266666667;
  color: #fff;
  margin-bottom: 0.9375rem;
}
.article.g-blue::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--g-blue);
  z-index: 1;
}
.article:hover .article-img img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.tab {
  width: 100%;
  height: auto;
  margin-bottom: 2.5rem;
  border-bottom: 1px solid #d0d5dd;
}
.tab-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.tab-item {
  font-size: 1rem;
  color: #667085;
  font-weight: 500;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  padding: 1.25rem 0;
  position: relative;
  cursor: pointer;
}
.tab-item::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #000;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
.tab-item.current, .tab-item:active {
  color: #000;
}
.tab-item.current::after, .tab-item:active::after {
  width: 100%;
}

.paging {
  width: 100%;
}
.paging_box, .paging_block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.paging-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  background-color: rgba(var(--global-colorA), 0);
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.333333333;
  letter-spacing: 0;
  cursor: pointer;
  color: #667085;
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.paging-item.active, .paging-item:active {
  background-color: var(--global-color);
  color: #fff;
}
.paging-next, .paging-prev {
  color: #282930;
  width: 2rem;
  height: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.paging-next svg, .paging-prev svg {
  width: 0.75rem;
  height: 0.75rem;
}

.img_txt,
.txt_img {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.img_txt .img,
.img_txt .txt,
.txt_img .img,
.txt_img .txt {
  flex: 0 0 50%;
  max-width: 50%;
}
.img_txt .img,
.txt_img .img {
  line-height: 0;
  aspect-ratio: 1/1;
}
.img_txt .img img,
.txt_img .img img {
  width: 100%;
  height: 100%;
  -webkit-object-fit: cover;
  object-fit: cover;
}
.img_txt .txt,
.txt_img .txt {
  padding: 0 5rem;
}
.img_txt .txt .title_block,
.txt_img .txt .title_block {
  margin-bottom: 1.5625rem;
}
.img_txt .detail_block,
.txt_img .detail_block {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}
.img_txt .detail_block *:not(:last-child),
.txt_img .detail_block *:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.marquee {
  overflow: hidden;
  position: relative;
  mask-image: linear-gradient(var(--mask-direction, to right), hsla(0, 0%, 0%, 0), hsl(0, 0%, 0%) 10%, hsl(0, 0%, 0%) 90%, hsla(0, 0%, 0%, 0));
  padding: 0.9375rem 0;
}
.marquee__ctn {
  display: flex;
  width: 100%;
}
.marquee__track {
  display: flex;
}
.marquee__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 200px;
  margin-inline-end: 3rem;
}
.marquee__item img {
  height: 100px;
  width: 100%;
  object-fit: contain;
  backface-visibility: hidden;
  filter: brightness(100%);
}

.parent-sticky {
  overflow: visible;
}
.parent-sticky .has-sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 5rem;
  z-index: 1;
}

@supports (-webkit-touch-callout: none) {
  .marquee__ctn {
    transform: translate3d(0, 0, 0) scale(1);
    perspective: 1px;
  }
}
@media screen and (min-width: 1025px) {
  .paging-item:hover {
    background-color: rgba(var(--global-colorA), 1);
    color: #fff;
  }
  .tab-item:hover {
    color: #000;
  }
  .tab-item:hover::after {
    width: 100%;
  }
}
.empty-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.125rem 2.5rem;
  gap: 1.125rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0;
}
.empty-block svg {
  width: 1.25rem;
  height: 1.25rem;
}

@media screen and (max-width: 1023px) {
  .parent-sticky .has-sticky {
    top: 2.8125rem;
  }
  .empty-block {
    padding: 4.125rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }
  .nav-overlay {
    display: flex;
    gap: 1.25rem;
  }
  .nav-overlay li {
    margin-bottom: 0;
  }
  .nav-overlay li a,
  .nav-overlay li span {
    font-size: 0.875rem;
  }
  .article-txt {
    font-size: 1.25rem;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
  .article-txt h3 {
    font-size: 1.25rem;
  }
  .product-img {
    margin-bottom: 0.75rem;
  }
  .product-txt .model {
    font-size: 0.625rem;
  }
  .product-txt .name {
    font-size: 0.875rem;
  }
  .product-txt .price {
    font-size: 0.75rem;
  }
  .category-txt {
    padding: 2.5rem 0.75rem;
  }
  .category-txt h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .category-brief {
    font-size: 1rem;
  }
  .article-banner--img {
    aspect-ratio: 242/257;
  }
  .article-banner--txt {
    padding: 0.875rem;
    color: #fff;
  }
  .article-banner--txt .title {
    font-size: 0.875rem;
  }
  .article-banner--txt .btn-arrow {
    width: 1.4375rem;
    height: 1.4375rem;
    margin-top: 0.5rem;
  }
  .article-banner--txt .btn-arrow svg {
    width: 0.5625rem;
    height: 0.4375rem;
  }
  .mini-title {
    font-size: 1.25rem;
  }
  .card-img {
    width: 5rem;
    height: 5rem;
    margin-bottom: 1.375rem;
  }
  .card-txt h3 {
    font-size: 0.875rem;
    line-height: 1.6;
  }
  .project.project-big .name {
    font-size: 1rem;
  }
  .project.project-big .but-link {
    margin-top: 1.25rem;
  }
  .project-img {
    width: 100%;
    aspect-ratio: 343/220;
    margin-bottom: 1.25rem;
  }
  .project-txt {
    display: flex;
    flex-direction: column;
  }
  .project-txt .name {
    font-size: 1rem;
    margin-top: 0.75rem;
  }
  .project-txt .text {
    font-size: 0.875rem;
  }
  .project-txt .but-link {
    font-size: 0.875rem;
    margin-top: 1.25rem;
  }
  .project-txt .but-link svg {
    width: 0.8125rem;
    height: 0.5rem;
    margin-left: 0.5rem;
  }
  .mobile-scroll {
    display: block;
    margin: 0 auto;
    width: calc(100% - 2rem);
    height: auto;
    overflow: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    scrollbar-color: #7d7d7d #fff;
  }
  .tab-list {
    white-space: nowrap;
    justify-content: flex-start;
    gap: 1.375rem;
  }
  .img_txt .txt,
  .img_txt .img,
  .txt_img .txt,
  .txt_img .img {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }
  .img_txt .txt,
  .txt_img .txt {
    padding: 5.3125rem 1rem;
  }
  .img_txt .detail_block,
  .txt_img .detail_block {
    font-size: 0.875rem;
  }
  .img_txt {
    flex-direction: column-reverse;
  }
}
.loading__box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 300;
  display: none;
}

.loading__box.active {
  display: block;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -40px 0 0 -40px;
  border: 8px solid #000;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border-top: 8px solid #fff;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 0.5s linear infinite;
  animation: spin 0.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.home-purpose_card {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.home-purpose_card-img {
  position: relative;
  width: 100%;
  aspect-ratio: 690/460;
  overflow: hidden;
}
.home-purpose_card-img img {
  width: 100%;
  height: 100%;
  -webkit-object-fit: cover;
  object-fit: cover;
}
.home-purpose_card-content {
  padding: 1.5rem 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.home-purpose_card-title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--global-color);
  line-height: 1.5;
  margin-bottom: 0.5rem;
}
.home-purpose_card-title a {
  color: inherit;
  text-decoration: none;
}
.home-purpose_card-desc {
  font-size: 1rem;
  line-height: 1.5;
  color: #000;
  margin-bottom: 0.625rem;
}

@media screen and (max-width: 1023px) {
  .home-purpose_card-title {
    font-size: 1.5rem;
  }
  .home-purpose_card-desc {
    font-size: 0.875rem;
  }
}
