.category-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.125rem;
}

@media screen and (max-width: 1023px) {
  .category-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 0rem;
    padding: 0;
  }
}
