<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="utf-8" />
  <meta name="google" content="notranslate" />
  <meta name="robots" content="index, follow" />
  <meta name="author" content="Qui Phúc" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no" />
  <title>Qui Phúc | Not Found</title>
  <meta name="description" content="Qui Phúc" />
  <meta name="keywords" content="Qui Phúc" />
  <meta name="theme-color" content="#fff" />
  <meta property="og:title" content="Qui Phúc" />
  <meta property="og:description" content="Qui Phúc" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="images/thumbnail.jpg" />
  <meta property="og:site_name" content="Qui Phúc" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="apple-mobile-web-app-title" content="Qui Phúc" />
  <link rel="icon" href="images/favicon.png" />
  <!-- <link href="css/critical.css" rel="preload stylesheet" as="style">
  <link href="css/not_found.css" rel="preload stylesheet" as="style" /> -->
  <link href="css/cmp_reset.css" rel="preload stylesheet" as="style">
  <link href="css/cmp_critical.css" rel="preload stylesheet" as="style">
  <link href="css/cmp_header.css" rel="preload stylesheet" as="style">
  <link href="css/cmp_common.css" rel="preload stylesheet" as="style">
  <link href="css/cmp_notfound.css" rel="preload stylesheet" as="style">
  <link href="css/cmp_regiter_promotion.css" rel="preload stylesheet" as="style">
  <link href="css/cmp_footer.css" rel="preload stylesheet" as="style">

</head>

<body data-page="home">
  <div class="page">
      <%= htmlWebpackPlugin.options.svg %>
      <%= htmlWebpackPlugin.options.header%>
        <div class="main">
          <div class="section not-found">
            <div class="not-found_wrap">
              <div class="not-found-txt">
                  <div class="title_block">
                    <div class="block-title">
                        <div class="sub-title">Oops!</div>
                        <h2>Trang không tìm thấy</h2>
                        <a class="link-but" href="index.html">Về trang chủ<svg>
                          <use xlink:href="#icon-arrow-next-medium"></use>
                        </svg></a>
                    </div>
                </div>
              </div>
              <div class="not-found-img">
                <img  width="640" height="640" src="images/not-found-img.jpg" alt="404" />
              </div>
            </div>
          </div>
        <%= htmlWebpackPlugin.options.registerPromotion %>
        </div>
        <%= htmlWebpackPlugin.options.footer %>
  </div>
  <!--Script-->
  <script defer src="js/common.js"></script>
  <%= htmlWebpackPlugin.options.preload %>
</body>

</html>