<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta name="google" content="notranslate">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Tuvi's">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>Tuvi's | Blog Detail</title>
    <meta name="description" content="Tuvi's">
    <meta name="keywords" content="Tuvi's">
    <meta name="theme-color" content="#fff">
    <meta property="og:title" content="Tuvi's">
    <meta property="og:description" content="Tuvi's">
    <meta property="og:type" content="website">
    <meta property="og:image" content="images/thumbnail.jpg">
    <meta property="og:site_name" content="Tuvi's">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Tuvi's">
    <link rel="icon" href="images/favicon.png">

    <link href="css/cmp_reset.css" rel="preload stylesheet" as="style">
    <link href="css/cmp_critical.css" rel="preload stylesheet" as="style">
    <link href="css/cmp_header.css" rel="preload stylesheet" as="style">
    <link href="css/cmp_common.css" rel="preload stylesheet" as="style">
    <link href="css/cmp_swiper.css" rel="preload stylesheet" as="style">
    <link href="css/cmp_sub_banner.css" rel="preload stylesheet" as="style">
    <link href="css/cmp_block_detail.css" rel="preload stylesheet" as="style">
    <link href="css/cmp_footer.css" rel="preload stylesheet" as="style">
</head>

<body data-page="block-detail">
    <div class="page">
        <%= htmlWebpackPlugin.options.svg %>
        <%= htmlWebpackPlugin.options.header %>
        <div class="main">
            <%= htmlWebpackPlugin.options.sub_banner %>
            <%= htmlWebpackPlugin.options.block_detail %>
            <%= htmlWebpackPlugin.options.related_blogs %>
        </div>
        <%= htmlWebpackPlugin.options.footer %>
    </div>
    <script defer src="js/common.js"></script>
    <script defer src="js/jquery.js"></script>
    <script defer src="js/jquery-ui.js"></script>
    <script defer src="js/swiper-bundle.js"></script>
    <script defer src="js/index_main.js"></script>
    <script defer src="none/cmp_block_detail.js"></script>
    <%= htmlWebpackPlugin.options.preload %>
</body>

</html>
