<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta name="google" content="notranslate">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Tuvi's">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>Tuvi's | The Backyard Routine – Phong Cách Giản Dị, Tự Nhiên</title>
    <meta name="description" content="Bộ sưu tập The Backyard Routine của Tuvi's – giày thoải mái, tự nhiên cho những ngày nghỉ ngơi, giản dị mà vẫn phong cách.">
    <meta name="keywords" content="The Backyard Routine, giày cá nhân, giày thoải mái, Tuvi's casual">
    <meta name="theme-color" content="#fff">
    <meta property="og:title" content="Tuvi's | The Backyard Routine – Phong Cách Giản Dị, Tự Nhiên">
    <meta property="og:description" content="Bộ sưu tập The Backyard Routine của Tuvi's – giày thoải mái, tự nhiên cho những ngày nghỉ ngơi, giản dị mà vẫn phong cách.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://tuvis.vn/the-backyard-routine.html">
    <meta property="og:image" content="https://tuvis.vn/images/thumbnail.jpg">
    <meta property="og:site_name" content="Tuvi's">
    <link rel="canonical" href="https://tuvis.vn/the-backyard-routine.html">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Tuvi's">
    <link rel="icon" href="images/favicon.png">

    <!-- JSON-LD: BreadcrumbList -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [
        {"@type": "ListItem", "position": 1, "name": "Trang chủ", "item": "https://tuvis.vn/"},
        {"@type": "ListItem", "position": 2, "name": "Collection", "item": "https://tuvis.vn/collection.html"},
        {"@type": "ListItem", "position": 3, "name": "The Backyard Routine", "item": "https://tuvis.vn/the-backyard-routine.html"}
      ]
    }
    </script>

    <link href="css/cmp_reset.css" rel="preload stylesheet" as="style">
    <link href="css/cmp_critical.css" rel="preload stylesheet" as="style">
    <link href="css/cmp_header.css" rel="preload stylesheet" as="style">
    <link href="css/cmp_common.css" rel="preload stylesheet" as="style">
    <link href="css/cmp_banner.css" rel="preload stylesheet" as="style">
    <link href="css/cmp_swiper.css" rel="preload stylesheet" as="style">
    <link href="css/cmp_categories.css" rel="preload stylesheet" as="style">
    <link href="css/cmp_sub_banner.css" rel="preload stylesheet" as="style">
    <link href="css/cmp_countdown.css" rel="preload stylesheet" as="style">
    <link href="css/cmp_jquery_ui.css" rel="preload stylesheet" as="style" />
    <link href="css/cmp_footer.css" rel="preload stylesheet" as="style">
</head>

<body data-page="sale">
    <div class="page">
        <%= htmlWebpackPlugin.options.svg %>
        <%= htmlWebpackPlugin.options.header %>
        <div class="main">
            <%= htmlWebpackPlugin.options.sub_banner %>
            <%= htmlWebpackPlugin.options.categories %>
        </div>
        <%= htmlWebpackPlugin.options.footer %>
    </div>
    <script defer src="js/common.js"></script>
    <script defer src="js/jquery.js"></script>
    <script defer src="js/jquery-ui.js"></script>
    <script defer src="js/swiper-bundle.js"></script>
    <script defer src="js/index_main.js"></script>
    <script defer src="js/cmp_categories.js"></script>
    <script defer src="none/cmp_countdown.js"></script>
    <%= htmlWebpackPlugin.options.preload %>
</body>

</html>
